<nav id="sidebarMenu" class="col-md-3 col-lg-2 bg-light px-0 sidebar h-100">
  <button class="btn btn-primary js-toggle-sidebar">
    <i class="fas fa-arrow-left"></i>
  </button>
  <div class="position-sticky pt-3">
    <a class="navbar-brand d-flex w-100 justify-content-center" href="/">
      <img src="/img/logopresskeyuz.png" alt="logo" class="logo-img">
    </a>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <% if (page === 'home') {%>active<%}%>" aria-current="page" href="/dashboard">
          <div class="icon-wrapper">
            <i class="icon fas fa-home"></i>
          </div>
          Asosiy
        </a>
        <a class="nav-link <% if (page === 'registrators') {%>active<%}%>" aria-current="page" href="/dashboard/registrators">
         <div class="icon-wrapper">
          <i class="fas fa-id-badge"></i>
         </div>
          Registratorlar
        </a>
        <a class="nav-link <% if (page === 'team') {%>active<%}%>" aria-current="page" href="/dashboard/team">
          <div class="icon-wrapper">
            <i class="icon fas fa-user-friends"></i>
          </div>
          Jamoa
        </a>
        <a class="nav-link <% if (page === 'transfers') {%>active<%}%>" aria-current="page" href="/dashboard/transfers">
          <div class="icon-wrapper">
            <i class="icon fas fa-random"></i>
          </div>
          Transferlar
        </a>
        <a class="nav-link <% if (page === 'customers') {%>active<%}%>" aria-current="page" href="/dashboard/customers">
          <div class="icon-wrapper">
            <i class="icon fas fa-users"></i>
          </div>
          Xaridorlar
        </a>
        <% if (user.role === "admin") { %>
          <a class="nav-link <% if (page === 'products') {%>active<%}%>" aria-current="page" href="/dashboard/products">
            <div class="icon-wrapper">
              <i class="fas fa-shopping-basket"></i>
            </div>
            Maxsulotlar
          </a>
          <a class="nav-link <% if (page === 'warehouses') {%>active<%}%>" aria-current="page" href="/dashboard/warehouses">
            <div class="icon-wrapper">
              <i class="icon fas fa-warehouse"></i>
            </div>
            Omborlar
          </a>
          <a class="nav-link <% if (page === 'news') {%>active<%}%>" aria-current="page" href="/dashboard/news">
            <div class="icon-wrapper">
              <i class="fas fa-newspaper"></i>
            </div>
            Yangiliklar
          </a>
          <a class="nav-link <% if (page === 'gallery') {%>active<%}%>" aria-current="page" href="/dashboard/gallery">
            <div class="icon-wrapper">
              <i class="fas fa-images"></i>
            </div>
            Galereya
          </a>
          <a class="nav-link <% if (page === 'banners') {%>active<%}%>" aria-current="page" href="/dashboard/banners">
            <div class="icon-wrapper">
              <i class="fas fa-map"></i>
            </div>
            Bannerlar
          </a>
          <a class="nav-link <% if (page === 'feedbacks') {%>active<%}%>" aria-current="page" href="/dashboard/feedbacks">
            <div class="icon-wrapper">
              <i class="fas fa-comments"></i>
            </div>
            Fikrlar
          </a>
        <% } %>
      </li>
    </ul>
  </div>
</nav>