@import "cards";

body {
  &.sidebar--close {
    .sidebar {
      min-width: 60px !important;
      max-width: 60px !important;
      .js-toggle-sidebar {
        transform: rotate(180deg);
        left: 0;
        right: auto;
      }
      .navbar-brand {
        margin-top: 50px;
      }
      .logo-img {
        max-width: 100%;
      }
      .nav-link,
      .logout-wrapper button {
        font-size: 0;
        .icon-wrapper {
          font-size: 20px;
          margin-right: 0;
        }
      }
    }
    .dashboard-content-wrapper {
      margin-left: auto;
      width: calc(100% - 60px);
    }
  }
}

.dashboard {
  min-height: 100vh;
  background-color: #deeaf6 !important;
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    overflow-x: hidden;
    transition: 0.3s ease;
    background-image: linear-gradient(
      to bottom,
      rgb(166, 32, 180),
      rgb(56, 156, 208)
    );
    .js-toggle-sidebar {
      position: absolute;
      top: 20px;
      right: 0;
      left: auto;
      width: 30px;
      height: 30px;
      border-radius: 5px 0 0 5px;
      padding: 0;
      z-index: 10;
      transition: 0.3s ease;
    }
    .nav-link {
      position: relative;
      transition: 0.3s ease;
      padding-top: 10px;
      padding-bottom: 10px;

      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background: $green-light;
        opacity: 0;
        transition: 0.3s ease;
      }

      &:hover,
      &.active {
        background-color: $color-primary-light;
        color: $green-light;
        .icon-wrapper {
          color: white;
        }
        &::before {
          opacity: 1;
        }
      }
    }
    .icon-wrapper {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
    .logout-wrapper {
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px;
    }
  }
}

.dashboard-content {
  overflow-x: hidden;
}

.dashboard-content-wrapper {
  margin-left: auto;
  width: calc(100% - #{$sidebar-width});
  transition: 0.3s ease;
}

.dashboard-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-table {
  thead {
    margin-bottom: 10px;
  }

  th,
  td {
    &:first-child {
      border-radius: 10px 0 0 10px;
    }
    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }

  th,
  tr {
    border: none;
  }
  th,
  td {
    text-align: center;
    vertical-align: middle;
  }
}
