<div class="alert alert-<%= type %>  fade show <% if (dismissable) { %>alert-dismissible<% } %>" role="alert">
  <%= content %> 
  <% if (dismissable) { %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  <% } %>
</div>