<footer class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="footer__info col-lg-4 col-md-6 col-sm-12">
        <a
          href="/"
          class="footer-text"
          >www.prokey.one
        </a>
        <p class="footer-address">
          Toshkent shaxri, Chilonzor tumani, Bunyodkor va Cho'pon ota ko'chalari
          kesishuvi
        </p>

        <div class="footer-info">
          <p class="footer-tel">
            <i class="fas fa-phone"></i> +998 (91) 778-89-89
          </p>
          <p class="footer-tel">
            <i class="fas fa-phone"></i> +998 (99) 699-00-19
          </p>
          <p class="footer-email">
            <i class="fas fa-envelope"></i> info@progresskey.uz
          </p>
          <p class="footer-email">
            <i class="fab fa-telegram-plane"></i> +998 (99) 699-00-19
          </p>
        </div>

        <div class="footer-ishkun">
          <h4 class="ishkunlari-left">ish kunlari</h4>
          <p class="ishkunlari-right">
            dushanba-Shanba <span>09:00 - 20:00</span>
          </p>
        </div>
        <p class="footer-huquq">Progresskey.uz Barcha huquqlar himoyalangan</p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-md-center">
        <ul class="footer__menyu d-inline-block">
          <h3 class="footer-text">menyu</h3>
          <li class="footer-li">
            <a href="index" class="footer-menyu--link">Asosiy</a>
          </li>
          <li class="footer-li">
            <a href="/products" class="footer-menyu--link"
              >Mahsulotlar</a
            >
          </li>
          <li class="footer-li">
            <a href="/local-shops" class="footer-menyu--link"
              >Hududiy do'konlar</a
            >
          </li>
          <li class="footer-li">
            <a href="/news" class="footer-menyu--link"
              >Yangiliklar</a
            >
          </li>
          <li class="footer-li">
            <a href="/gallery" class="footer-menyu--link">Galereya</a>
          </li>
          <li class="footer-li">
            <a href="/contacts" class="footer-menyu--link"
              >Ma'lumot va yordam</a
            >
          </li>
        </ul>
      </div>

      <div class="footer__last col-lg-4 col-md-6 col-sm-12">
        <h3 class="footer-text fs-3">sayt yangiliklariga a'zo bo'lish</h3>
        <div class="my-4">
          <form action="">
            <div class="input-group">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Email"
              />
              <div class="input-group-append">
                <button class="btn-primary btn" type="submit">Jo'natish</button>
              </div>
            </div>
          </form>
        </div>
        <h3 class="footer-text">ijtimoiy tarmoqlar</h3>
        <div class="footer__social-media">
          <a
            href="https://www.facebook.com/progresskey"
            target="_blank"
            class="facebook"
          >
            <i class="soc-icons fab fa-facebook"></i>
          </a>
          <a
            href="https://www.instagram.com/progresskey_/"
            target="_blank"
            class="instagram"
          >
            <i class="soc-icons fab fa-instagram"></i>
          </a>
          <a href="https://t.me/prokeyuzb" target="_blank" class="telegram">
            <i class="soc-icons fab fa-telegram"></i>
          </a>
          <!-- <a href="" class="twitter">
            <i class="soc-icons fab fa-twitter"></i>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</footer>
