<div class="yangilik-card shadow-sm mb-3">
  <div class="card-img">
    <img src="<%= img %>" alt="<%= title %>" />
  </div>
  <div class="yangilik-card-content">
    <h3>
      <%= title %> 
    </h3>
    <p>
      <%= description %> 
    </p>
    <div class="yangilik-bottom">
      <div class="yangilik-bottom--left">
        <i class="fas fa-calendar-edit"></i>
        <p class="yangilik-date">16.02.2020</p>
        <i class="fal fa-clock"></i>
        <p class="yangilik-time">13:46</p>
      </div>
      <a href="yangiliklarichi.html" class="yangilik-bottom--right"
        >Batafsil...</a
      >
    </div>
  </div>
</div>