<div class="row">
  <div class="col-xl-3 col-lg-12 d-flex flex-wrap justify-content-center mb-2">
    <% for( let i = 0; i < 3 ; i++ ) { %>
        <img src="https://picsum.photos/id/1<%= i %>/300/200" class="img-fluid chocolate-image gallery-small-img m-1" alt="put name here"> 
    <% } %>
  </div>
  <div class="col-xxl-6 col-xl-9 col-lg-8 col-sm-12 mb-2">
    <div class="img-with-caption">
      <img src="https://picsum.photos/id/20/800/600" alt="put name here">
      <h4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, fugiat?
      </h4>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-12 d-flex flex-wrap justify-content-around col-lg-4 col-sm-12">
    <div class="card gallery-card border-0 mb-3">
      <img src="https://picsum.photos/id/65/300/200" class="card-img-top" alt="put name here">
      <div class="card-body  p-4 bg-light">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card gallery-card border-0 mb-3">
      <img src="https://picsum.photos/id/65/300/200" class="card-img-top" alt="put name here">
      <div class="card-body  p-4 bg-light">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-lg-9 col-sm-12 mb-2">
    <div class="img-with-caption">
      <img src="https://picsum.photos/id/100/800/600" alt="put name here">
      <h4>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, fugiat?
      </h4>
    </div>
  </div>
  <div class="col-lg-3 col-sm-12 d-flex flex-wrap justify-content-center mb-2">
    <% for( let i = 0; i < 3 ; i++ ) { %>
        <a href="https://picsum.photos/id/4<%= i %>/300/200" class="chocolate-image img-wrapper">
          <img src="https://picsum.photos/id/4<%= i %>/300/200" class="img-fluid gallery-small-img m-1" alt="put name here"> 
        </a>
    <% } %>
  </div>
  
</div>