<div class="mahsulot-card">
  <div class="card_inside">
    <a href="mahsulotichi.html" class="mahsulot-card--top shadow-sm">
      <img src="<%= img %> " alt="" class="mahsulot-img" />
    </a>
    <div class="mahsulot-card--bottom">
      <a href="mahsulotichi.html">
        <h3 class="mahsulot-name"><%= title %> </h3>
      </a>
      <p class="mahsulot-price"><%= price %>  sum</p>

      <div class="stars">
        <i class="colored fas fa-star"></i>
        <i class="colored fas fa-star"></i>
        <i class="colored fas fa-star"></i>
        <i class="colored fal fa-star"></i>
        <i class="colored fal fa-star"></i>
      </div>
    </div>
  </div>
</div>
