<div class="mahsulotlar-view ">
        <div class="mahsulot-card">
          <a href="mahsulotichi.html" class="card_inside">
          <div class="mahsulot-card--top">
            <img src="img/dori-1.png" alt="" class="mahsulot-img" />
          </div>
          <div class="mahsulot-card--bottom">
            <h3 class="mahsulot-name">EVOLUTION <br> CLEANER</h3>
            <p class="mahsulot-price">192.000 sum</p>
          </a>
            <div class="stars">  <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="fal fa-star"></i>
              <i class="fal fa-star"></i></div>
              
          </div>
          <a href="mahsulotichi.html">  
            <span class="back">
            <i class="back-zoom fas fa-search-plus"></i>
            <i class="back-heart fas fa-heart-square"></i>  
          </span>
          </a>
          <!--attention-->
        </div>

        <div class="mahsulot-card">
          <a href="mahsulotichi.html" class="card_inside">
          <div class="mahsulot-card--top">
            <img src="img/imber.jpg" alt="" class="mahsulot-img" />
          </div>
          <div class="mahsulot-card--bottom">
            <h3 class="mahsulot-name">EVOLUTION <br> IMBER</h3>
            <p class="mahsulot-price">192.000 sum</p>
          </a>
            <div class="stars">  <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="fal fa-star"></i>
              <i class="fal fa-star"></i></div>
              
          </div>
          <a href="mahsulotichi.html">  
            <span class="back">
            <i class="back-zoom fas fa-search-plus"></i>
            <i class="back-heart fas fa-heart-square"></i>  
          </span>
          </a>
          <!--attention-->
        </div>

        <div class="mahsulot-card">
          <a href="mahsulotichi.html" class="card_inside">
          <div class="mahsulot-card--top">
            <img src="img/dori-3.png" alt="" class="mahsulot-img" />
          </div>
          <div class="mahsulot-card--bottom">
            <h3 class="mahsulot-name">EVOLUTION <br> SPREY</h3>
            <p class="mahsulot-price">192.000 sum</p>
          </a>
            <div class="stars">  <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="fal fa-star"></i>
              <i class="fal fa-star"></i></div>

          </div>
          <a href="mahsulotichi.html">  
          <span class="back">
            <i class="back-zoom fas fa-search-plus"></i>
            <i class="back-heart fas fa-heart-square"></i>           
          </span>
        </a>
   
        </div>

        <div class="mahsulot-card">
          <a href="mahsulotichi.html" class="card_inside"> 

          <div class="mahsulot-card--top">
            <img src="img/dori-2.png" alt="" class="mahsulot-img" />
          </div>
          <div class="mahsulot-card--bottom">
            <h3 class="mahsulot-name">EVOLUTION <br> SPREY</h3>
            <p class="mahsulot-price">192.000 sum</p>
          </a>
            <div class="stars">  <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="fal fa-star"></i>
              <i class="fal fa-star"></i></div>

          </div>
          <a href="mahsulotichi.html">  
          <span class="back">
            <i class="back-zoom fas fa-search-plus"></i>
            <i class="back-heart fas fa-heart-square"></i>           
          </span>
        </a>
   
        </div>

        <div class="mahsulot-card">
          <a href="mahsulotichi.html" class="card_inside"> 

          <div class="mahsulot-card--top">
            <img src="img/dori-5.png" alt="" class="mahsulot-img" />
          </div>
          <div class="mahsulot-card--bottom">
            <h3 class="mahsulot-name">EVOLUTION</h3>
            <p class="mahsulot-price">192.000 sum</p>
          </a>
            <div class="stars">  <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="colored fas fa-star"></i>
              <i class="fal fa-star"></i>
              <i class="fal fa-star"></i></div>

          </div>
          <a href="mahsulotichi.html">  
            <span class="back">
              <i class="back-zoom fas fa-search-plus"></i>
              <i class="back-heart fas fa-heart-square"></i>           
            </span>
          </a>  
   
        </div>
      </div>