<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <%- include('./product-item.ejs', {
      img: "/img/dori-1.png",
      title: "Evolution Cleaner",
      price: 150000
    }) %>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <%- include('./product-item.ejs', {
      img: "/img/dori-2.png",
      title: "Evolution Sprey",
      price: 200000
    }) %>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <%- include('./product-item.ejs', {
      img: "/img/imber.jpg",
      title: "Imbir choy",
      price: 60000
    }) %>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <%- include('./product-item.ejs', {
      img: "/img/dori-5.png",
      title: "EVOLUTION CaMg",
      price: 150000
    }) %>
  </div>
</div>