<div class="mahsulot-card">
  <div class="card_inside">
    <div class="mahsulot-card--top shadow-sm">
      <span class="product__back">
        <a href="mahsulotichi.html">
          <i class="back-zoom fas fa-search-plus"></i
        ></a>
        <button type="button" class="btn">
          <i class="far fa-heart text-primary"></i>
        </button>
      </span>
      <img src="img/b-complex.png" alt="" class="mahsulot-img" />
    </div>
    <div class="mahsulot-card--bottom">
      <a href="mahsulotichi.html">
        <h3 class="mahsulot-name">Super B Complex</h3>
      </a>
      <p class="mahsulot-price">192.000 sum</p>

      <div class="stars">
        <i class="colored fas fa-star"></i>
        <i class="colored fas fa-star"></i>
        <i class="colored fas fa-star"></i>
        <i class="fal fa-star"></i>
        <i class="fal fa-star"></i>
      </div>
    </div>
  </div>
</div>
