<div class="row">
  <% products.forEach(x => { %>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <%- include('./product-item.ejs', {
        img: x.images[0],
        name: translate(x, getLocale()).name,
        price: x.price,
        _id: x._id
      }) %>
    </div>
  <% }) %>
</div>