<div class="section section--hidden home-yangiliklar">
  <p class="main-text">yangiliklar</p>

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <%- include('./news-item.ejs', {
        img: "img/news1.jpg",
        title: "\"Orzu O'g'rilar\" treningini seminar",
        description: "Tog' seminarimizda, kompaniyamizning direktori, kuchli spiker, marketolog Shikhnazar Ruzmetov o'zining avtorlik  \"Orzu O'g'rilar\" treningini seminar qatnashchilariga o'tib berdi. Hamma ishtirokchilar birdamlikda katta kuch borligini yana bir marotaba xis qilishdi."
      }) %> 
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <%- include('./news-item.ejs', {
        img: "img/news2.jpg",
        title: "Bibisara opa Yusupova bilan suhbat",
        description: "Qoraqalpog'iston Respublikasida Nukusning eng kuchli lideri, parapsixolog,moderator Bibisara opa Yusupova vrachlarga kompaniyamiz mahsulotlari va imkoniyatlari to'g'risida ma'lumot berishdi. Judayam maroqli suhbat bo'ldi."
      }) %> 
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <%- include('./news-item.ejs', {
        img: "img/news3.jpg",
        title: "4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti.",
        description: "4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti. Unda Qoraqalpog'iston Respublikasi, Farg'ona viloyati, Surxondaryo violation hamda Toshkent viloyati liderlari ishtirok etishdi. Seminarians kompaniyamizning kelgusidagi 3-4 yillik rejalari haqida fikr almashinildi."
      }) %> 
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
      <%- include('./news-item.ejs', {
        img: "img/news4.jpg",
        title: "ProgressKey oilasi tog' seminarida",
        description: "ProgressKey oilasi tog' seminarida maza qilib dam olishdi.  Undan tashqari  3 kunlik seminar qatnashchilariga sovg'a salomlar berildi. Eng katta sovg'a Bilim ekanligi yana bir marotaba tasdiqini topdi."
      }) %> 
    </div>
  </div>
</div>
