<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <%- include('./components/nav.ejs') %>


    <div class="container">
      <div class="py-5">
        <div class="hudud__malumotlar">
          <div class="hudud__malumotlar-cart">
            <i class="far fa-map-marker-alt icon"></i>
            <h4>Manzil</h4>
            <p>201 lorem ipsum</p>
          </div>
          <div class="hudud__malumotlar-cart">
            <i class="fal fa-phone-alt icon"></i>
            <h4>Telefon</h4>
            <p>+998 00 000 00 00</p>
          </div>
          <div class="hudud__malumotlar-cart">
            <i class="fal fa-envelope icon"></i>
            <h4>E-Pochta</h4>
            <p>info@progresskey.uz</p>
          </div>
          <div class="hudud__malumotlar-cart">
            <i class="fal fa-globe icon"></i>
            <h4>Sayt</h4>
            <p>progresskey.uz</p>
          </div>
          <div class="hudud__malumotlar-cart">
            <i class="far fa-fax icon"></i>
            <h4>Faks</h4>
            <p>+998 71 777 88 99</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-12">
            <form action="" class="contacts-form">
              <div class="row">
                <div class="col-lg-6 col-md-12 mb-2">
                  <div class="form-group position-relative">
                    <input
                      class="form-control form-control-lg border-2 shadow-sm"
                      type="text"
                      placeholder="Ism"
                      name="name"
                    />
                    <i class="fad fa-user text-primary position-absolute"></i>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-2">
                  <div class="form-group position-relative">
                    <input
                      class="form-control form-control-lg border-2 shadow-sm phone-input-mask"
                      type="text"
                      name="phone"
                      placeholder="+998 ("
                    />
                    <i
                      class="fad fa-phone text-primary position-absolute"
                    ></i>
                  </div>
                </div>
                <div class="col-lg-12 mb-2">
                  <div class="form-group position-relative">
                    <input
                      class="form-control form-control-lg border-2 shadow-sm"
                      type="email"
                      placeholder="Email"
                    />
                    <i
                      class="fad fa-envelope text-primary position-absolute"
                    ></i>
                  </div>
                </div>
                <div class="col-lg-12 mb-2">
                  <div class="form-group position-relative">
                    <textarea
                      class="form-control form-control-lg border-2 shadow-sm"
                      rows="4"
                      placeholder="Xabar matnini kiriting"
                    ></textarea>
                  </div>
                </div>
              </div>
              <div
                class="w-100 d-flex align-items-center justify-content-center"
              >
                <button class="btn btn-primary mx-auto px-4" type="submit">
                  Jo'natish <i class="fab fa-telegram-plane"></i>
                </button>
              </div>
            </form>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="p-3 border border-2 text-left shadow-sm rounded">
              <h4
                class="title-underlined text-left text-uppercase font-weight-bold mr-auto"
              >
                Ish vaqti
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos neque nemo doloremque soluta debitis nam!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <%- include('./components/footer.ejs') %>

    <script src="scripts/main.js"></script>
  </body>
</html>
