<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yangiliklar ichi</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="css/main.css" />
    <title>progresskey.uz</title>
    <style>
      .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height: 575px;
      }
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 575px;
      }
      .gmap_iframe {
        height: 575px !important;
      }
    </style>
  </head>
  <body>
    <%- include('./components/nav.ejs') %>


    <div class="news_main_body">
      <div class="news_main">
        <div>
          <img
            class="inside_news_pic"
            src="./img/docs/93318de9c43d08330b0333b4c61d6a79@2x.webp"
            alt=""
          />
        </div>
        <div class="inside_news">
          <div class="inside_news_title">
            <h1 class="inside_news_title_h">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus
              totam amet fugiat aperiam tempore eos.
            </h1>
          </div>
          <p class="inside_news_text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam
            asperiores perferendis eveniet quod eligendi, quam eaque tenetur,
            adipisci fugiat temporibus incidunt unde optio sunt impedit
            laudantium nostrum? Debitis, est! Illo. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Labore necessitatibus hic velit
            perspiciatis accusantium id sint deserunt ad nobis pariatur.
            Quisquam perspiciatis repellendus vel consequuntur provident, harum
            velit at nostrum quo facilis quas eligendi iure dolorum ipsam
            corrupti vitae exercitationem eius consequatur quis ea ab dolores
          </p>

          <div class="inside_news_close_button_div">
            <a href="yangiliklar.html">
              <button class="inside_news_close_button">Yopish</button>
            </a>
          </div>
          <div class="inside_news_datatime">
            <i class="fal fa-calendar-alt"></i> 19.02.2020
          </div>
        </div>
      </div>
    </div>
    <%- include('./components/footer.ejs') %>


    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/all.js"></script>
    <script src="scripts/script.js"></script>
  </body>
</html>
