<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yangiliklar ichi</title>
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="css/main.css" />
    <title>progresskey.uz</title>
   
  </head>
  <body>
    <%- include('./components/nav.ejs') %>

    <div class="container">
      <div class="py-5">
        <div class="yangilik-card news-single-page shadow-sm mb-3">
          <div class="card-img">
            <img src="https://picsum.photos/1000/500" alt="put name here" />
          </div>
          <div class="yangilik-card-content">
            <h3>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto sed velit error corrupti excepturi saepe nulla quis esse culpa, beatae suscipit quidem, voluptas quas consectetur necessitatibus aspernatur dignissimos eligendi blanditiis!
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam facilis ipsam vero corrupti reprehenderit fugit quam quaerat ducimus! Minima aliquid atque odit. Nisi sed vel laudantium sunt ipsam corporis provident impedit aperiam consequuntur ipsa quibusdam nihil reprehenderit minima aliquam quia perferendis tempora libero, animi a. Velit amet adipisci consectetur?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam facilis ipsam vero corrupti reprehenderit fugit quam quaerat ducimus! Minima aliquid atque odit. Nisi sed vel laudantium sunt ipsam corporis provident impedit aperiam consequuntur ipsa quibusdam nihil reprehenderit minima aliquam quia perferendis tempora libero, animi a. Velit amet adipisci consectetur?
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione laboriosam facilis ipsam vero corrupti reprehenderit fugit quam quaerat ducimus! Minima aliquid atque odit. Nisi sed vel laudantium sunt ipsam corporis provident impedit aperiam consequuntur ipsa quibusdam nihil reprehenderit minima aliquam quia perferendis tempora libero, animi a. Velit amet adipisci consectetur?
            </p>
            <div class="yangilik-bottom">
              <div class="yangilik-bottom--left">
                <i class="fas fa-calendar-edit"></i>
                <p class="yangilik-date">16.02.2020</p>
                <i class="fal fa-clock"></i>
                <p class="yangilik-time">13:46</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
    <%- include('./components/footer.ejs') %>


    
    <script src="scripts/main.js"></script>
  </body>
</html>
