<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="css/main.css" />
    <title>progresskey.uz</title>
    <style>
      .mapouter {
        position: relative;
        text-align: right;
        width: 100%;
        height: 575px;
      }
      .gmap_canvas {
        overflow: hidden;
        background: none !important;
        width: 100%;
        height: 575px;
      }
      .gmap_iframe {
        height: 575px !important;
      }
    </style>
  </head>
  <body>
    <%- include('./components/nav.ejs') %>

    <div class="news_main_body">
      <div class="news_first_sec tayoq">
        `
        <div class="news_first_sec_carousel">
          <div
            id="yangiliklar_carousel"
            class="carousel slide"
            ,
            data-ride="carousel"
          >
            <ul class="carousel-indicators">
              <li
                data-target="yangiliklar_carousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="yangiliklar_carousel" data-slide-to="1"></li>
              <li data-target="yangiliklar_carousel" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  class="carousel_pic"
                  src="./img/photo_2021-05-20_17-37-10.jpg"
                  alt="Los Angeles"
                />
                <div class="carousel-caption">
                  <p>We had such a great time in LA!</p>
                </div>
              </div>

              <div class="carousel-item">
                <img
                  class="carousel_pic"
                  src="./img/docs/file-20200407-116223-gwtpno.jpg"
                  alt="Los Angeles"
                />
                <div class="carousel-caption">
                  <p>We had such a great time in LA!</p>
                </div>
              </div>

              <di v class="carousel-item">
                <img
                  class="carousel_pic"
                  src="./img/docs/how-can-nurses-improve-patient-satisfaction-.jpg"
                  alt="Los Angeles"
                />
                <div class="carousel-caption">
                  <p>We had such a great time in LA!</p>
                </div>
              </di>
            </div>

            <a
              class="carousel-control-prev"
              href="#yangiliklar_carousel"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a
              class="carousel-control-next"
              href="#yangiliklar_carousel"
              data-slide="next"
            >
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>

        <div class="news_first_sec_pic_top">
          <img
            class="pic_par"
            src="./img/photo_2021-05-20_17-36-56.jpg"
            alt="Los Angeles"
          />
          <p class="bottom_center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio, molestiae!
          </p>
        </div>

        <div class="news_first_sec_pic_bottom">
          <img
            class="pic_par"
            src="./img/photo_2021-05-20_17-37-01.jpg"
            alt="Los Angeles"
          />
          <p class="bottom_center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Distinctio, molestiae!
          </p>
        </div>
      </div>
      <h5 class="news_title">So'ngi yangiliklar</h5>

      <div class="news_second_sec">
        <div class="news_second_sec-left">
          <div class="second_sec_news_pic">
            <img
              class="second_sec_news_pic_class"
              src="./img/photo_2021-05-20_17-36-44.jpg"
              alt=""
            />
          </div>
          <div class="second_sec_info">
            <div class="second_sec_info_part">
              <h6 class="second_sec_info_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                veniam possimus doloribus eos unde eius obcaecati.
              </h6>

              <div class="second_sec_info_line"></div>

              <div class="second_sec_info_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                repellendus ex, facere laudantium alias autem, in maiores odit,
                error atque dolorem et dolore optio facilis nulla officia non
                totam commodi! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Pariatur laboriosam facilis autem cumque,
                enim, modi omnis fuga ullam atque quaerat voluptatem, placeat
                excepturi voluptate provident dolorum obcaecati ad est quasi
                dfgva fasf fafsfa afsf.
              </div>
            </div>
            <div class="info__bottom-all">
              <div class="second_sec_info_datatime">
                <i class="fal fa-calendar-alt"></i> 19.02.2020
              </div>
              <div class="second_sec_info_button_div">
                <a href="yangiliklarichi.html"
                  ><button class="second_sec_info_button">
                    Batafsil...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="second_sec_mini_news">
          <div class="second_sec_news_mini-1">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/photo_2021-05-20_17-35-08.jpg"
              alt=""
            />

            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>

          <div class="second_sec_news_mini-2">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/docs/how-can-nurses-improve-patient-satisfaction-.jpg"
              alt=""
            />
            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>
        </div>
      </div>
      <div class="news_second_sec">
        <div class="news_second_sec-left">
          <div class="second_sec_news_pic">
            <img
              class="second_sec_news_pic_class"
              src="./img/photo_2021-05-20_17-34-58.jpg"
              alt=""
            />
          </div>
          <div class="second_sec_info">
            <div class="second_sec_info_part">
              <h6 class="second_sec_info_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                veniam possimus doloribus eos unde eius obcaecati.
              </h6>

              <div class="second_sec_info_line"></div>

              <div class="second_sec_info_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                repellendus ex, facere laudantium alias autem, in maiores odit,
                error atque dolorem et dolore optio facilis nulla officia non
                totam commodi! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Pariatur laboriosam facilis autem cumque,
                enim, modi omnis fuga ullam atque quaerat voluptatem, placeat
                excepturi voluptate provident dolorum obcaecati ad est quasi
                dfgva fasf fafsfa afsf.
              </div>
            </div>
            <div class="info__bottom-all">
              <div class="second_sec_info_datatime">
                <i class="fal fa-calendar-alt"></i> 19.02.2020
              </div>
              <div class="second_sec_info_button_div">
                <a href="yangiliklarichi.html"
                  ><button class="second_sec_info_button">
                    Batafsil...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="second_sec_mini_news">
          <div class="second_sec_news_mini-1">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/docs/Supporting-student-nurses_social-image.jpg"
              alt=""
            />

            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>

          <div class="second_sec_news_mini-2">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/docs/how-can-nurses-improve-patient-satisfaction-.jpg"
              alt=""
            />
            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>
        </div>
      </div>
      <div class="news_second_sec">
        <div class="news_second_sec-left">
          <div class="second_sec_news_pic">
            <img
              class="second_sec_news_pic_class"
              src="./img/docs/Nurses-support-their-young.jpg"
              alt=""
            />
          </div>
          <div class="second_sec_info">
            <div class="second_sec_info_part">
              <h6 class="second_sec_info_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id,
                veniam possimus doloribus eos unde eius obcaecati.
              </h6>

              <div class="second_sec_info_line"></div>

              <div class="second_sec_info_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
                repellendus ex, facere laudantium alias autem, in maiores odit,
                error atque dolorem et dolore optio facilis nulla officia non
                totam commodi! Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Pariatur laboriosam facilis autem cumque,
                enim, modi omnis fuga ullam atque quaerat voluptatem, placeat
                excepturi voluptate provident dolorum obcaecati ad est quasi
                dfgva fasf fafsfa afsf.
              </div>
            </div>
            <div class="info__bottom-all">
              <div class="second_sec_info_datatime">
                <i class="fal fa-calendar-alt"></i> 19.02.2020
              </div>
              <div class="second_sec_info_button_div">
                <a href="yangiliklarichi.html"
                  ><button class="second_sec_info_button">
                    Batafsil...
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="second_sec_mini_news">
          <div class="second_sec_news_mini-1">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/docs/Supporting-student-nurses_social-image.jpg"
              alt=""
            />

            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>

          <div class="second_sec_news_mini-2">
            <img
              class="second_sec_news_mini_pic pic"
              src="./img/docs/how-can-nurses-improve-patient-satisfaction-.jpg"
              alt=""
            />
            <div class="second_sec_news_mini_info">
              Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur
              adipisicing.
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./components/footer.ejs') %>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/all.js"></script>
    <script src="scripts/script.js"></script>
  </body>
</html>
