*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // @include responsive($bp-16) {
  //  // font-size: 50%;
  // }
}
body {
  font-weight: 300;
  line-height: 1.6;
  font-family: $font-family-sans-serif;
  background: #fff !important;
  transition: 0.3s ease;
}

.dropdown-toggle {
  border: none;
  // font-size: 2rem;
  background-color: transparent;
  color: #fff;
  @include responsive($bp-1000) {
    // font-size: 2rem;
    margin: 0 1rem;
  }
}

.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.karusel {
  // height: 40;
  // padding-bottom: 50px;
  // margin: 0 auto;
  // position: relative;
  // overflow: hidden;

  .kar {
    // position: absolute;
    // top: 10%;
    width: 100%;
    grid-template-columns: 50% 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* THIS creates the animation! */
    transition: transform 1s;

    @include responsive($md) {
      grid-template-columns: 1fr;
    }
  }
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  // font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

#banner-indicators {
  li {
    border: none;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(
      to right,
      rgba(56, 156, 208, 0.8),
      rgba(166, 32, 180, 0.8)
    );
    opacity: 0.7;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    text-indent: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    &.active {
      background-image: linear-gradient(
        to right,
        rgba(27, 24, 212, 0.8),
        rgba(27, 24, 212, 0.8)
      );
      opacity: 1;
    }
  }
}

@for $i from 0 to 6 {
  .border-#{$i} {
    border-width: #{$i}px !important;
  }
}

.title-underlined {
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    display: block;
    background-color: $primary;
    bottom: 0;
  }
}
