:root {
  --color-primary: rgb(151, 89, 255);
  --color-primary-dark: rgb(159, 0, 164);

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(65, 62, 62, 0.05);

  --line: 1px solid var(--color-grey-light-2);
}

.hudud {
  &__head {
    display: block;
    margin: 5rem 0 0;
    text-align: center;
    .underline {
      height: 0.5rem;
      width: 13rem;
      background-color: var(--color-primary);
      margin: 0 auto 0.5rem;
    }
  }

  &__drop {
    display: flex;
    padding: 7rem;

    &-element {
      width: 33%;
      height: 5rem;
      padding: 1.5rem 3rem;
    }
  }
  &__malumotlar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 35px;
    &-cart {
      max-width: 300px;
      border-radius: 5px;
      padding: 20px;
      color: white;
      text-align: center;
      background: #a977ff;
      .icon {
        font-size: 35px;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 5px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  &__murojat {
    text-align: center;
  }

  &-left {
    input,
    textarea {
      width: 100%;
    }

    textarea {
      resize: none;
      height: 100%;
    }
  }

  &-ishvaqti {
    height: 100%;
    input {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 5px;
    }
  }

  &-ism {
  }

  &-email {
  }

  &-number {
  }

  &-textarea {
  }

  .btn {
    border-radius: 5px;
    color: white;
    margin-right: 33%;
  }
}
