.mahsulotlar {
  padding: 4% 10% 10%;
  z-index: 0;

  @include responsive($bp-600) {
    padding-bottom: 30%;
  }

  @include responsive($bp-420) {
    padding-bottom: 258%;
  }

  &__page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3%;
    column-gap: 5%;
    // margin-bottom: 5rem;
    padding: 5vh 0 0;

    @include responsive($bp-7) {
      grid-template-columns: 4, 1fr;
    }

    @include responsive($bp-600) {
      gap: 8rem;
      grid-template-columns: repeat(3, 1fr);
      padding: 1vh 2rem;
    }
    @include responsive($bp-585) {
      padding: 3% 5%;
      row-gap: 3%;
    }

    @include responsive($bp-420) {
      grid-template-columns: 1fr;
      row-gap: 1%;
    }

    &-royxat {
      display: flex;
      justify-content: center;
      padding: 5vh 0 0;
    }

    &-card {
      border-radius: 3%;
      //   margin: 3rem;
      overflow: hidden;
      position: relative;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);

      &:hover .back {
        opacity: 1;
      }
    }
  }
}

.colored {
  color: rgb(255, 213, 74);
}

.fa-star {
  // font-size: 2rem;
  text-align: center;
  padding: 0.1rem;
}

.m-logo {
  width: 25rem;
}

.mahsulot-card:hover .card_inside {
  text-decoration: none;
}

.card_inside h3 {
  color: var(--color-grey-dark-2);
}

.mahsulot-card {
  position: relative;

  .product__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    background: rgba($color: #90cda6, $alpha: 0.7);
    .back-zoom {
      width: 35px;
      height: 35px;
    }
    button {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      i {
        width: 35px;
        height: 35px;
      }
    }
  }

  .stars {
    display: flex;
    justify-content: center;
  }

  &--top {
    height: 350px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 80%;
    }
    &:hover {
      .product__back {
        opacity: 1;
      }
    }
  }
  &--bottom {
    padding: 20px 0;
  }
  .mahsulot-name {
    font-size: 18px;
    color: black !important;
    text-align: center;
    font-weight: 700;
  }
  .mahsulot-price {
    // font-size: 1.5rem;
    margin-bottom: 0;
    text-align: center;
    font-weight: 700;
    color: $primary;
  }
}
