$color-primary: #2a00a2;
$primary: #03aae8;
$color-primary-dark: #07003b;
$green: #3eae67;

$color-secondary: #5f2eea;
$color-secondary-light: #6e7191;
$color-secondary-light-1: #a0a3bd;
$color-secondary-light-2: #a0a3bd;

$color-grey-dark-1: #07003b;

$font-display: "Josefin Sans", sans-serif;
$font-family-sans-serif: "Noto Sans JP", sans-serif;
$font-family-base: "Noto Sans JP", sans-serif;
$bp-4xl: 109.3em; // 1750px
$bp-xxxl: 106.25em; // 1700px
$bp-16: 100em; // 1600px
$bp-xxl: 93.275em; // 1500px
$bp-xl: 86.25em; //1380px
$bp-l: 78.12em; //1250px
$bp-m: 65.6em; //1050px
$bp-1000: 62.5em; //1000px
$bp-ipad: 61.87em; //990px
$bp-s: 48.87em; //782px
$bp-7: 43.7em; //700px
$bp-600: 37.5em; //600px
$bp-585: 36.56em; //585px
$bp-550: 34.37em; //550px
$bp-500: 31.25em; //500px
$bp-420: 26.25em; //420px
$bp-400: 25em; //400px

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1360px;
$xxl: 1560px;

$grid-breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
) !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1260px,
  xxl: 1400px,
) !default;

$enable-negative-margins: true;

@mixin responsive($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
