.news-single-page {
  .card-img {
    height: 600px;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    @include responsive($md) {
      height: 400px;
    }
    @include responsive($sm) {
      height: 300px;
    }
  }
}
