<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= __("laws") %> </title>
  </head>
  <body>
    <%- include('../components/nav.ejs', {page: 'news'}) %>

    <div class="container">
      <div class="hudud">
        <div class="hudud__head pt-5">
          <h1 class="text-uppercase font-weight-bold"><%= __("laws") %></h1>
          <div class="underline mb-3"></div>
        </div>
        <div class="law__content">
          <p>
            <strong>1-modda.</strong> Ushbu Qonunning maqsadi. Ushbu Qonunning
            maqsadi- aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi munosabatlarni tartibga solishdan iborat.
            &nbsp;
          </p>

          <p>
            <strong>2-modda.</strong> Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi to&#39;g&#39;risidagi qonun hujjatlari
            Aholi o&#39;rtasida mikronutrient etishmasligi profilaktikasi
            to&#39;g&#39;risidagi qonun hujjatlari ushbu Qonun va boshqa qonun
            hujjatlaridan iboratdir. Agar O&#39;zbekiston Respublikasining
            halqaro shartnomasida O&#39;zbekiston Respublikasining aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi
            to&#39;g&#39;risidagi qonun hujjatlarida nazarda tutilganidan
            boshqacha qoidalar belgilangan bo&#39;lsa, halqaro shartnoma
            qoidalari qo&#39;llaniladi. &nbsp;
          </p>

          <p>
            <strong>3-modda.</strong> Asosiy tushunchalar Ushbu Qonunda quyidagi
            asosiy tushunchalar qo&#39;llaniladi: mikronutrientlar &mdash; inson
            organizmining normal o&#39;sishi va rivojlanishi uchun zarur
            bo&#39;lgan, o&#39;rnini boshqa narsa bosa olmaydigan oziq-ovqat
            moddalari (vitaminlar va mineral moddalar); mikronutrient
            etishmasligi&mdash; inson organizmining oziq-ovqat bilan tushadigan
            mikronutrientlar etarli emasligi sababli kasalliklarning
            rivojlanishiga olib keladigan holati; boyitilgan oziq-ovqat
            mahsuloti &mdash; ishlab chiqarilishi jarayonida mikronutrientlar
            bilan boyitilgan (fortifikasiya qilingan) oziq-ovqat mahsuloti;
            mikronutrientlar saplementasiyasi &mdash; aholining muayyan
            guruhlari o&#39;rtasida mikronutrientlarning dori vositalari tarzida
            profilaktik dozalarda qo&#39;llanilishi; aholining muayyan guruhlari
            &mdash; mikronutrient etishmasligi profilaktikasi chora-tadbirlari
            amalga oshirilayotgan aholi guruhlari. 2-bob. Aholi o&#39;rtasida
            mikronutrient etishmasligi profilaktikasi sohasining davlat
            tomonidan tartibga solinishi.
          </p>

          <p>
            <strong>4-modda</strong>. Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi sohasidagi davlat siyosatining asosiy
            yo&#39;nalishlari Aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi davlat siyosatining asosiy
            yo&#39;nalishlari quyidagilardan iborat: aholini boyitilgan
            oziq-ovqat mahsuloti bilan taminlashga qaratilgan ijtimoiy,
            iqtisodiy, huquqiy va tashkiliy chora-tadbirlarni amalga oshirish;
            boyitilgan oziq-ovqat mahsulotining va oziq-ovqat mahsulotini
            boyitish uchun mo&#39;ljallangan vitamin-mineral aralashmalarning
            sifati hamda havfsizligi ustidan davlat nazoratini taminlash;
            boyitilgan oziq-ovqat mahsuloti ishlab chiqarilishini
            rivojlantirish; oziq-ovqat mahsulotini boyitish uchun
            mo&#39;ljallangan vitamin-mineral aralashmalar ishlab chiqarilishini
            qo&#39;llab-quvvatlash; mikronutrientlar saplementasiyasi; aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasiga qaratilgan
            dasturlar amalga oshirilishini monitoring qilish va baholash;
            mikronutrient etishmasligini aniqlovchi zamonaviy tehnologiyalarni
            va uning profilaktikasi usullarini rivojlantirishda ilmiy
            tadqiqotlarni qo&#39;llab-quvvatlash; halqaro hamkorlikni
            rivojlantirish.
          </p>

          <p>
            <strong>5-modda.</strong> Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi sohasidagi davlat boshqaruvi Aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi sohasidagi
            davlat boshqaruvini O&#39;zbekiston Respublikasi Vazirlar Mahkamasi,
            O&#39;zbekiston Respublikasi Sog&#39;liqni saqlash vazirligi,
            O&#39;zbekiston standartlashtirish, metrologiya va
            sertifikatlashtirish agentligi, mahalliy davlat hokimiyati organlari
            amalga oshiradi. Aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi davlat boshqaruvi: davlat boshqaruvi
            organlarining, shuningdek boyitilgan oziq-ovqat mahsuloti va
            oziq-ovqat mahsulotini boyitish uchun muljallangan vitamin-mineral
            aralashmalar ishlab chiqaruvchilarning faoliyatini muvofiqlashtirib
            borishni; boyitilgan oziq-ovqat mahsulotining va oziq-ovqat
            mahsulotini boyitish uchun mo&#39;ljallangan vitamin-mineral
            aralashmalarning sifati hamda havfsizligi ustidan davlat nazoratini
            amalga oshirishni; boyitilgan oziq-ovqat mahsulotining va oziq-ovqat
            mahsulotini boyitish uchun mo&#39;ljallangan vitamin-mineral
            aralashmalarning havfsizligiga doir majburiy talablarga taalluqli
            tehnik jihatdan tartibga solish sohasidagi normativ hujjatlar ishlab
            chiqishni, ishlarni tashkil etishni va ularni bajarishni
            taminlashni; profilaktika va sanitariya-epidemiologiya tadbirlari
            o&#39;tkazilishini tashkil etishni o&#39;z ichiga oladi.
          </p>

          <p>
            <strong>6-modda.</strong> O&#39;zbekiston Respublikasi Vazirlar
            Mahkamasining aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi vakolatlari O&#39;zbekiston Respublikasi
            Vazirlar Mahkamasi: aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi davlat dasturlarining ishlab chiqilishi,
            tasdiqlanishi va amalga oshirilishini taminlaydi; aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi masalalari
            bo&#39;yicha davlat boshqaruvi organlarining faoliyatini
            muvofiqlashtirishni hamda unga rahbarlikni amalga oshiradi;
            mikronutrientlar bilan boyitilishi lozim bo&#39;lgan oziq-ovqat
            mahsulotlari ro&#39;yhatini tasdiqlaydi. O&#39;zbekiston
            Respublikasi Vazirlar Mahkamasi qonun hujjatlariga muvofiq boshqa
            vakolatlarni ham amalga oshirishi mumkin. Qo&#39;shimcha malumot
            uchun qarang: O&#39;zbekiston Respublikasining
            &laquo;O&#39;zbekiston Respublikasi Vazirlar Mahkamasi
            to&#39;grisida&raquo;gi Qonuni.
          </p>

          <p>
            <strong>7-modda.</strong> O&#39;zbekiston Respublikasi Sogliqni
            saqlash vazirligining aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi vakolatlari O&#39;zbekiston Respublikasi
            Sogliqni saqlash vazirligi: aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi sohasida davlat sanitariya nazoratini
            amalga oshiradi; aholi o&#39;rtasida mikronutrient etishmasligi
            profilaktikasi sohasidagi davlat dasturlarini ishlab chiqadi va
            amalga oshiradi; mikronutrientlar bilan boyitilishi lozim
            bo&#39;lgan oziq-ovqat mahsulotlari ro&#39;yhatini aniqlaydi;
            boyitilgan oziq-ovqat mahsulotining va oziq-ovqat mahsulotini
            boyitish uchun mo&#39;ljallangan vitamin-mineral aralashmalarning
            havfsizligiga doir majburiy talablarga taalluqli tehnik jihatdan
            tartibga solish sohasidagi ishlarni tashkil etadi va ularning
            bajarilishini taminlaydi; aholining mikronutrientlar
            saplementasiyasi o&#39;tkazilishi lozim bo&#39;lgan muayyan
            guruhlarini aniqlaydi; oziq-ovqat mahsulotini boyitish uchun
            mikronutrientlarning normalari va tavsiya etiladigan darajalarini
            ishlab chiqadi; mikronutrientlar saplementasiyasini tashkil etadi;
            aholi o&#39;rtasida mikronutrient etishmasligi profilaktikasi
            buyicha sanitariya-gigiena va tushuntirish ishlarini olib boradi;
            aholi o&#39;rtasida mikronutrient etishmasligi profilaktikasiga
            qaratilgan dasturlarning amalga oshirilishini monitoring qiladi va
            baholaydi. O&#39;zbekiston Respublikasi Sogliqni saqlash vazirligi
            qonun hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshirishi
            mumkin. Qo&#39;shimcha malumot uchun qarang: O&#39;zbekiston
            Respublikasi Vazirlar Mahkamasining 1999 yil 14 yanvardagi 18-sonli
            qarori bilan tasdiqlangan &laquo;O&#39;zbekiston Respublikasi
            Sogliqni saqlash vazirligi tugrisida&raquo;gi Nizom.
          </p>

          <p>
            <strong>8-modda.</strong> O&#39;zbekiston standartlashtirish,
            metrologiya va sertifikatlashtirish agentligining aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi sohasidagi
            vakolatlari O&#39;zbekiston standartlashtirish, metrologiya va
            sertifikatlashtirish agentligi: boyitilgan oziq-ovqat mahsulotini va
            oziq-ovqat mahsulotini boyitish uchun mo&#39;ljallangan
            vitamin-mineral aralashmalarni ishlab chiqarishda tehnik jihatdan
            tartibga solish sohasidagi normativ hujjatlarning majburiy
            talablariga yuridik shahslar tomonidan rioya etilishi ustidan davlat
            nazoratini amalga oshiradi; boyitilgan oziq-ovqat mahsulotini va
            oziq-ovqat mahsulotini boyitish uchun mo&#39;ljallangan
            vitamin-mineral aralashmalarni majburiy sertifikatlashtirish
            bo&#39;yicha ishni tashkil etadi. O&#39;zbekiston
            standartlashtirish, metrologiya va sertifikatlashtirish agentligi
            qonun hujjatlariga muvofiq boshqa vakolatlarni ham amalga oshirishi
            mumkin.
          </p>

          <p>
            <strong>9-modda.</strong> Mahalliy davlat hokimiyati organlarining
            aholi o&#39;rtasida mikronutrient etishmasligi profilaktikasi
            sohasidagi vakolatlari Mahalliy davlat hokimiyati organlari: aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi sohasidagi
            hududiy dasturlarning amalga oshirilishini tashkil etadi; aholi
            o&#39;rtasida mikronutrient etishmasligi profilaktikasi maqsadida
            tegishli davlat boshqaruvi organlari hududiy bo&#39;linmalarining
            hamda boyitilgan oziq-ovqat mahsuloti va oziq-ovqat mahsulotini
            boyitish uchun mo&#39;ljallangan vitamin-mineral aralashmalar ishlab
            chiqaruvchilarning faoliyatini muvofiqlashtirib boradi; boyitilgan
            oziq-ovqat mahsulotining va oziq-ovqat mahsulotini boyitish uchun
            mo&#39;ljallangan vitamin-mineral aralashmalarning sifati hamda
            havfsizligini va ularni saqlash sharoitlarini ta&#39;minlash
            bo&#39;yicha chora-tadbirlar ko&#39;radi. Mahalliy davlat hokimiyati
            organlari qonun hujjatlariga muvofiq boshqa vakolatlarni ham amalga
            oshirishi mumkin. 3-bob. Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi chora-tadbirlari
          </p>

          <p>
            <strong>10-modda. </strong>Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasining turlari Aholi o&#39;rtasida
            mikronutrient etishmasligi profilaktikasining quyidagi turlari
            amalga oshiriladi: boyitilgan oziq-ovqat mahsulotiga bo&#39;lgan
            ehtiyojni aniqlash va uni istemol qilishni ta&#39;minlash;
            mikronutrientlar saplementasiyasi; sanitariya-gigiena va
            tushuntirish ishlari.
          </p>

          <p>
            <strong>11-modda.</strong> Boyitilgan oziq-ovqat mahsulotini va
            oziq-ovqat mahsulotini boyitish uchun mo&#39;ljallangan
            vitamin-mineral aralashmalarni ishlab chiqarish Boyitilgan
            oziq-ovqat mahsulotini va oziq-ovqat mahsulotini boyitish uchun
            muljallangan vitamin-mineral aralashmalarni ishlab chiqarish yuridik
            shakhslar tomonidan amalga oshiriladi.
          </p>

          <p>
            <strong>12-modda. </strong>Boyitilgan oziq-ovqat mahsulotini va
            oziq-ovqat mahsulotini boyitish uchun mo&#39;ljallangan
            vitamin-mineral aralashmalarni sertifikatlashtirish Boyitilgan
            oziq-ovqat mahsuloti va oziq-ovqat mahsulotini boyitish uchun
            mo&#39;ljallangan vitamin-mineral aralashmalar qonun hujjatlarida
            belgilangan tartibda majburiy sertifikatlashtirilishi lozim.
          </p>

          <p>
            <strong>13-modda.</strong> Boyitilgan oziq-ovqat mahsulotini va
            oziq-ovqat mahsulotini boyitish uchun mo&#39;ljallangan
            vitamin-mineral aralashmalarni o&#39;rash, tamgalash, tashish,
            saqlash, realizasiya qilish va O&#39;zbekiston Respublikasi hududiga
            olib kirish Boyitilgan oziq-ovqat mahsulotini va oziq-ovqat
            mahsulotini boyitish uchun mo&#39;ljallangan vitamin-mineral
            aralashmalarni urash, tamg&#39;alash, tashish, saqlash, realizasiya
            qilish va O&#39;zbekiston Respublikasi hududiga olib kirish qonun
            hujjatlarida belgilangan tartibda amalga oshiriladi.
          </p>

          <p>
            <strong>14-modda.</strong> Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi sohasidagi reklama Aholi o&#39;rtasida
            mikronutrient etishmasligi profilaktikasiga qaratilgan notijorat
            yusindagi reklama ijtimoiy reklama ahborotidir. Ijtimoiy reklama
            ahborotini tekinga tayyorlovchilar va tarqatuvchilar qonun
            hujjatlarida nazarda tutilgan imtiyozlardan foydalanadi. Boyitilgan
            oziq-ovqat mahsulotining reklamasi qonun hujjatlariga muvofiq amalga
            oshiriladi. 4-bob. Yakunlovchi qoidalar.
          </p>

          <p>
            <strong>15-modda.</strong> Nizolarni hal etish Aholi o&#39;rtasida
            mikronutrient etishmasligi profilaktikasi sohasidagi nizolar qonun
            hujjatlarida belgilangan tartibda hal etiladi.
          </p>

          <p>
            <strong>16-modda.</strong> Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi to&#39;g&#39;risidagi qonun hujjatlarini
            buzganlik uchun javobgarlik Aholi o&#39;rtasida mikronutrient
            etishmasligi profilaktikasi to&#39;g&#39;risidagi qonun hujjatlarini
            buzganlikda aybdor shahslar belgilangan tartibda javobgar
            bo&#39;ladi.
          </p>

          <p>
            <strong>17-modda.</strong> Qonun hujjatlarini ushbu Qonunga
            muvofiqlashtirish O&#39;zbekiston Respublikasi Vazirlar Mahkamasi:
            hukumat qarorlarini ushbu Qonunga muvofiqlashtirsin; davlat
            boshqaruvi organlari ushbu Qonunga zid bulgan o&#39;z
            normativ-huquqiy hujjatlarini qayta ko&#39;rib chiqishlari va bekor
            qilishlarini ta&#39;minlasin.
          </p>

          <p>
            <strong>18-modda. </strong>Ushbu Qonunning kuchga kirishi. irishi.
          </p>
        </div>
      </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
