<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('../components/nav.ejs') %>

    <div class="container">
      <div class="hudud">
        <div class="hudud__head pt-5">
          <h1 class="text-uppercase font-weight-bold">AHOLI O'RTASIDA MIKRONUTRIENT YETIShMASLIGI PROFILAKTIKASI</h1>
          <div class="underline mb-3"></div>
        </div>
        <div class="law__content">
          <p style="text-align: center">
            <span style="font-size: 20px"
              >O&lsquo;ZBEKISTON RESPUBLIKASI PREZIDENTINING QARORI AHOLINING
              SOG&lsquo;LOM OVQATLANISHINI TA&rsquo;MINLASH BO&lsquo;YICHA
              QO&lsquo;SHIMCHA CHORA-TADBIRLAR TO&lsquo;G&lsquo;RISIDA</span
            >
          </p>

          <p>
            Respublikamizda sog&lsquo;liqni saqlash hamda jismoniy tarbiya va
            sport sohalarini isloh qilish yuzasidan qabul qilingan
            normativ-huquqiy hujjatlarda ushbu tizimlarni takomillashtirish
            barobarida aholi o&lsquo;rtasida sog&lsquo;lom turmush tarzini
            shakllantirishga mazkur sohada davlat siyosatining muhim
            yo&lsquo;nalishlaridan biri sifatida ahamiyat qaratilmoqda.
          </p>

          <p>
            Jumladan, 2025-yilga qadar O&lsquo;zbekiston Respublikasi
            sog&lsquo;liqni saqlash tizimini, jismoniy tarbiya va sportni
            rivojlantirish, 2022-yilga qadar yuqumli bo&lsquo;lmagan kasalliklar
            profilaktikasi, aholining sog&lsquo;lom turmush tarzini
            qo&lsquo;llab-quvvatlash va jismoniy faolligi darajasini oshirish
            konsepsiyalari hamda sog&lsquo;lom turmush tarzini keng tatbiq etish
            va ommaviy sportni yanada rivojlantirish chora-tadbirlari
            tasdiqlandi va ijroga qaratildi.
          </p>

          <p>
            Jahon sog&lsquo;liqni saqlash tashkilotining ma&rsquo;lumotiga
            ko&lsquo;ra, jismoniy faollik hamda ovqatlanish me&rsquo;yor va
            qoidalariga amal qilmaslik, tarkibida tuz, qand, yog&lsquo; miqdori
            ko&lsquo;p bo&lsquo;lgan taom va shirinliklarni me&rsquo;yoridan
            ortiq iste&rsquo;mol qilish, shuningdek yetarli darajada vitamin va
            minerallar iste&rsquo;mol qilmaslik oqibatida yoshlarda ratsional
            o&lsquo;sish va aqliy rivojlanishda ortda qolish, kattalarda esa
            yurak qon-tomir, endokrin, xavfli o&lsquo;sma kabi insonning erta
            o&lsquo;limiga olib keluvchi qator kasalliklarning rivojlanishiga
            sabab bo&lsquo;ladi.
          </p>

          <p>
            Shu bilan birga, koronavirus pandemiyasi oqibatlaridan olingan
            saboqlar kasallikning og&lsquo;irligi va o&lsquo;lim holatlarining
            katta qismi noto&lsquo;g&lsquo;ri turmush tarzi tufayli kelib
            chiqadigan yo&lsquo;ldosh kasalliklar bilan chambarchas
            bog&lsquo;liqligini ko&lsquo;rsatdi.
          </p>

          <p>
            Aholining sog&lsquo;lom ovqatlanishi va jismoniy faolligini
            ta&rsquo;minlashda davlat siyosatini yanada mustahkamlash, yuqumli
            bo&lsquo;lmagan kasalliklar profilaktikasi borasida amalga
            oshirilayotgan ishlar samaradorligini yanada oshirish, har bir
            fuqaroda sog&lsquo;lom ovqatlanish va jismoniy faollik madaniyatini
            shakllantirish maqsadida:
          </p>

          <ol class="pl-4">
            <li>
              Aholi salomatligini ta&rsquo;minlash bo&lsquo;yicha shunday tartib
              o&lsquo;rnatilsinki, unga ko&lsquo;ra:<br />
              a) 2021-yil 1-iyundan boshlab: 6 &mdash; 23 oylik bolalar uchun uy
              sharoitida tayyorlangan ovqatlarni boyitish maqsadida
              mikronutriyent kukuni bilan; 6 oylikdan 5 yoshgacha bo&lsquo;lgan
              bolalar &ldquo;A&rdquo; vitamini bilan; 2 &mdash; 10 yoshdagi
              bolalar gelmintoz profilaktikasi bo&lsquo;yicha maxsus preparatlar
              bilan bepul ta&rsquo;minlanadi;<br />
              b) 2022-yil 1-iyuldan boshlab: homilador va bola emizuvchi ayollar
              hamda 3 &mdash; 15 yoshdagi bolalar yod preparati bilan; 35
              yoshgacha tug&lsquo;ish yoshidagi ayollar temir va foliy kislotasi
              preparati bilan bepul ta&rsquo;minlanadi;<br />
              v) 2021-yil 1-apreldan boshlab birinchi nav bug&lsquo;doy uni
              bilan bir qatorda oliy nav bug&lsquo;doy uni mikronutriyentlar
              bilan boyitilgan taqdirda respublika hududida realizatsiya
              qilishga ruxsat etiladi.
            </li>
            <li>
              Jismoniy tarbiya va sport vazirligi hamda Axborot texnologiyalari
              va kommunikatsiyalarini rivojlantirish vazirligi tomonidan aholini
              sog&lsquo;lom turmush tarziga undovchi &ldquo;Sog&lsquo;lom
              turmush tarzi&rdquo; platformasi ishlab chiqilayotganligi
              ma&rsquo;lumot uchun qabul qilinsin.<br />
              <br />
              Axborot texnologiyalari va kommunikatsiyalarini rivojlantirish
              vazirligi mazkur platformani ishlab chiqishda Sog&lsquo;liqni
              saqlash vazirligi bilan birgalikda unda, jumladan insonning tana
              vazni indeksini hisoblash, uning hayot tarzini hisobga olgan holda
              kunlik ovqatlanish me&rsquo;yorini tavsiya etish hamda
              iste&rsquo;mol qilinayotgan taom, oziq-ovqat mahsulotlari va
              ichimliklarning kaloriyasini hisoblash imkonini beruvchi
              to&lsquo;g&lsquo;ri ovqatlanish bo&lsquo;limini yaratsin.<br />
              <br />
              Sog&lsquo;liqni saqlash vazirligi (E.I. Basitxanova, B.T. Odilova,
              O&lsquo;.X. Adilov) &ldquo;Sog&lsquo;lom turmush tarzi&rdquo;
              platformasining to&lsquo;g&lsquo;ri ovqatlanish bo&lsquo;limini
              ilmiy asoslangan ma&rsquo;lumotlar bilan doimiy ravishda
              to&lsquo;ldirib borish uchun mas&rsquo;ul etib belgilansin.
            </li>
            <li>
              Bolalarning 5 yoshgacha bo&lsquo;lgan davrda optimal rivojlanishi
              va o&lsquo;sishini ta&rsquo;minlash maqsadida quyidagilarni
              nazarda tutuvchi patronajning universal-progressiv modeli 2022-yil
              1-yanvarga qadar bosqichma-bosqich joriy etilsin: homilador va
              tug&lsquo;ruqdan keyingi davrdagi ayollar hamda 5 yoshgacha
              bolalari mavjud oilalar uchun amaldagi shtatlar doirasida alohida
              patronaj hamshirasini biriktirish; ushbu patronaj hamshirasi
              tomonidan umumiy holati qoniqarli va xavf guruhidagi aholini
              aniqlash hamda ular sog&lsquo;lig&lsquo;ining umumiy holatini
              differensiallashgan yondashuv asosida kuzatib borish; umumiy
              holati qoniqarli bo&lsquo;lgan barcha homilador va
              tug&lsquo;ruqdan keyingi davrdagi ayollar hamda 5 yoshgacha
              bolalari mavjud oilalarni yagona me&rsquo;yor asosida bevosita
              kuzatish; ruhiy tushkunlik holati, bolaning to&lsquo;g&lsquo;ri
              ovqatlanishi va rivojlanishi uchun sog&lsquo;lom muhitni
              ta&rsquo;minlashda qiyinchiliklari mavjud xavf guruhidagi
              homilador va tug&lsquo;ruqdan keyingi davrdagi ayollar hamda 5
              yoshgacha bolalari bo&lsquo;lgan oilalarning har biriga individual
              reja asosida kengaytirilgan yordam ko&lsquo;rsatish.
            </li>
            <li>
              Sirdaryo viloyatining tuman (shahar) ko&lsquo;p tarmoqli markaziy
              poliklinikalarida 2021-yil 1-yanvardan boshlab eksperiment
              tariqasida to&lsquo;g&lsquo;ri ovqatlanish va sog&lsquo;lom
              turmush tarzini yuritish bo&lsquo;yicha maxsus tayyorgarlikdan
              o&lsquo;tgan shifokor va o&lsquo;rta tibbiyot xodimlaridan iborat
              &ldquo;To&lsquo;g&lsquo;ri ovqatlanish va sog&lsquo;lom turmush
              tarzi&rdquo; xonalari tashkil etilsin. Belgilansinki,
              &ldquo;To&lsquo;g&lsquo;ri ovqatlanish va sog&lsquo;lom turmush
              tarzi&rdquo; xonalari: aholiga to&lsquo;g&lsquo;ri ovqatlanish,
              sog&lsquo;lom turmush tarzi va jismoniy faollik masalalarida yakka
              tartibda profilaktik tadbirlarni olib boradi; respublika
              budjetidan Sog&lsquo;liqni saqlash vazirligiga ajratilgan
              mablag&lsquo;lar hisobidan zarur moddiy-texnik vositalar bilan
              jihozlanadi; Aholining sog&lsquo;lom turmush tarzini
              qo&lsquo;llab-quvvatlash va jismoniy faolligini oshirish
              markazining (keyingi o&lsquo;rinlarda &mdash; Markaz) tuman
              (shahar) bo&lsquo;linmalari shtatlarini qayta ko&lsquo;rib chiqish
              hisobiga shakllantiriladi. Sog&lsquo;liqni saqlash vazirligi (E.I.
              Basitxanova) Moliya vazirligi (J.I. Abruyev) bilan birgalikda
              2022-yil 1-iyulga qadar eksperiment natijalarini tanqidiy tahlil
              qilib, uni respublikaning barcha hududlarida bosqichma-bosqich
              tatbiq etish bo&lsquo;yicha Vazirlar Mahkamasiga taklif kiritsin.
            </li>
            <li>
              Markaz, Respublika o&lsquo;rta tibbiyot va farmatsevtika xodimlari
              malakasini oshirish va ularni ixtisoslashtirish markazi hamda
              tibbiyot oliy ta&rsquo;lim muassasalariga birlamchi
              tibbiy-sanitariya yordami muassasalari tibbiy xodimlari uchun
              diyetologiya bo&lsquo;yicha qayta tayyorlash kurslarini, aholi
              uchun ovqatlanish bo&lsquo;yicha maslahatchi tayyorlash kurslarini
              tashkil etish vakolati berilsin.
            </li>
            <li>
              Sanitariya, gigiyena va kasb kasalliklari ilmiy-tadqiqot
              institutiga qo&lsquo;shimcha ravishda sog&lsquo;lom va xavfsiz
              oziq-ovqat mahsulotlari xomashyosining asosiy turlarini
              kengaytirish, oziq-ovqat mahsulotlarini mikronutriyentlar bilan
              boyitish, aholining yoshi, jinsi, fiziologik holati, kasbi va
              kasalliklaridan kelib chiqqan holda sog&lsquo;lom va parhezli
              ovqatlanish hamda profilaktik tibbiyot masalalari bo&lsquo;yicha
              canitariya qoidalari va me&rsquo;yorlarini tayyorlash, o&lsquo;quv
              dasturlarini ishlab chiqish va ilmiy tadqiqotlar olib borish
              vazifalari yuklatilsin. Ilmiy-tadqiqot instituti (O&lsquo;.X.
              Adilov): 2021-yil 1-fevralga qadar Jahon sog&lsquo;liqni saqlash
              tashkilotining tavsiyalari asosida diyetolog mutaxassislar va
              ovqatlanish bo&lsquo;yicha maslahatchilarni tayyorlash
              bo&lsquo;yicha o&lsquo;quv dasturlarini tayyorlasin; 2021-yil
              1-mayga qadar O&lsquo;zbekiston davlat jismoniy tarbiya va sport
              universiteti huzuridagi Jismoniy tarbiya va sport
              ilmiy-tadqiqotlar instituti bilan birgalikda aholining yoshi,
              jinsi, fiziologik holati va kasbiga ko&lsquo;ra guruhlari uchun
              tavsiya etiladigan o&lsquo;rtacha kunlik ovqatlanish
              me&rsquo;yorlari hamda jismoniy mashqlar kompleksini ishlab
              chiqsin.
            </li>
            <li>
              Markaz (B.T. Odilova) targ&lsquo;ibot ishlarini taniqli madaniyat
              vakillari va sportchilarni jalb qilgan holda ommaviy axborot
              vositalari va ijtimoiy tarmoqlarda videorolik shaklida, aholi
              orasida infografik tarqatma materiallardan foydalangan holda olib
              borish amaliyotini yo&lsquo;lga qo&lsquo;ysin. Bunda, ayniqsa,
              noto&lsquo;g&lsquo;ri ovqatlanish va kam harakatlanishning inson
              salomatligiga salbiy ta&rsquo;siri, xususan buning oqibatida
              yuzaga keladigan kasalliklar va ularning asoratlari hamda
              kasalliklar profilaktikasi va uni davolashda meva va
              sabzavotlarning xususiyatlari, jismoniy tarbiya va ommaviy sport
              bilan shug&lsquo;ullanishning inson salomatligiga foydasini
              yoritishga alohida e&rsquo;tibor qaratsin. Jismoniy tarbiya va
              sport vazirligi (D.X. Nabiyev), Madaniyat vazirligi (O.A.
              Nazarbekov) ushbu bandda nazarda tutilgan chora-tadbirlarni
              tizimli amalga oshirishda Markazga yaqindan ko&lsquo;maklashsin.
            </li>
            <li>
              Moliya vazirligi (T.A. Ishmetov, J.I. Abruyev) 2021-yildan boshlab
              to&lsquo;g&lsquo;ri ovqatlanish va sog&lsquo;lom turmush tarzini
              yuritish bo&lsquo;yicha keng ko&lsquo;lamli targ&lsquo;ibot
              ishlarini, jumladan aholi va tibbiyot xodimlari uchun tarqatma
              materiallarni tayyorlash hamda ommaviy axborot vositalari va
              ijtimoiy tarmoqlarda chiqishlarni moliyalashtirish uchun
              Sog&lsquo;liqni saqlash vazirligining asoslangan hisob-kitoblariga
              ko&lsquo;ra Davlat budjetidan mablag&lsquo;lar ajratsin.
              Innovatsion rivojlanish vazirligi (I.Y. Abduraxmonov)
              ilmiy-tadqiqot ishlariga davlat buyurtmasi talablariga muvofiq
              yuqumli bo&lsquo;lmagan kasalliklar profilaktikasi, xususan
              sog&lsquo;lom ovqatlanish masalalari bo&lsquo;yicha muammolarning
              yechimiga qaratilgan ilmiy loyihalarning tanlovlar asosida
              shakllantirilishini ta&rsquo;minlasin.
            </li>
            <li>
              Belgilansinki, 2021/2022 o&lsquo;quv yilidan boshlab: maktabgacha
              ta&rsquo;lim tashkilotlarida &ldquo;Shaxsiy gigiyena va jismoniy
              tarbiya asoslari&rdquo; mashg&lsquo;ulotlari o&lsquo;tkaziladi;
              respublika umumiy o&lsquo;rta ta&rsquo;lim muassasalarida
              o&lsquo;quv darslarini qayta ko&lsquo;rib chiqqan holda 1 &mdash;
              4-sinflar uchun &ldquo;Tarbiya&rdquo; va &ldquo;Atrofimizdagi
              olam&rdquo; fanlari, yuqori sinflar uchun &ldquo;Biologiya&rdquo;
              fani tarkibida to&lsquo;g&lsquo;ri ovqatlanish va sog&lsquo;lom
              turmush tarzini shakllantirish bo&lsquo;yicha &ldquo;Salomatlik
              saboqlari&rdquo; mavzulari kiritiladi; akademik litsey,
              professional va oliy ta&rsquo;lim muassasalarining &ldquo;Jismoniy
              tarbiya&rdquo; fani doirasida sog&lsquo;lom turmush tarzini
              shakllantirish bo&lsquo;yicha mashg&lsquo;ulotlar
              o&lsquo;tkaziladi; tibbiyot texnikumlarida valeolog, diyetolog,
              nutritsiolog mutaxassisliklarini tayyorlash, nutritsiolog va
              diyetolog magistratura (internatura, klinik ordinatura)
              mutaxassisliklarini 1 yillik o&lsquo;quv dasturlari asosida
              tayyorlash yo&lsquo;lga qo&lsquo;yiladi; tibbiyot oliy
              ta&rsquo;lim muassasalarida bakalavriat, klinik ordinatura,
              magistratura, tibbiyot kollejlari va Abu Ali ibn Sino nomidagi
              Jamoat salomatligi texnikumlarining barcha yo&lsquo;nalishlarida
              to&lsquo;g&lsquo;ri ovqatlanish mavzulari alohida siklda
              o&lsquo;qitiladi; barcha mutaxassisliklar bo&lsquo;yicha vrach va
              o&lsquo;rta tibbiyot xodimlari malakasini oshirish, qayta
              tayyorlash kurslari bo&lsquo;yicha fan dasturlariga
              &ldquo;Sog&lsquo;lom turmush tarzi va to&lsquo;g&lsquo;ri
              ovqatlanish mezonlari&rdquo; mavzulari kiritiladi. Sog&lsquo;liqni
              saqlash vazirligi (A.Sh. Inoyatov) manfaatdor vazirlik va idoralar
              bilan birgalikda uch oy muddatda mazkur bandda nazarda tutilgan
              o&lsquo;quv mashg&lsquo;ulotlarini Jahon sog&lsquo;liqni saqlash
              tashkilotining tavsiyalari asosida ishlab chiqsin.
            </li>
            <li>
              Sog&lsquo;liqni saqlash vazirligi (A.Sh. Inoyatov) hamda Jismoniy
              tarbiya va sport vazirligi (R.S. Irmatov): a) uch oy muddatda
              malaka oshirish va seminar-mashg&lsquo;ulotlar
              o&lsquo;tkaziladigan joy hamda ularni moliyalashtirish manbalarini
              aniq ko&lsquo;rsatgan holda quyidagi dasturlarni ishlab chiqsin va
              tasdiqlash uchun Vazirlar Mahkamasiga kiritsin: birlamchi
              tibbiy-sanitariya yordami muassasalari, jumladan ko&lsquo;p
              tarmoqli va oilaviy poliklinikalar, qishloq vrachlik punktlarida
              faoliyat yurituvchi vrach va o&lsquo;rta tibbiyot xodimlarini
              diyetologiyani chuqurlashtirib o&lsquo;rgatgan holda valeologiya
              bo&lsquo;yicha maxsus tayyorgarlikdan o&lsquo;tkazish; umumiy
              amaliyot shifokorlari va o&lsquo;rta tibbiyot xodimlarini Jahon
              sog&lsquo;liqni saqlash tashkilotining tavsiyalariga asosan
              yuqumli bo&lsquo;lmagan kasalliklar profilaktikasi bo&lsquo;yicha
              katta yoshdagi aholiga maslahatlar berish yuzasidan
              o&lsquo;qitish; davlat organlari va tashkilotlarining budjetdan
              tashqari mablag&lsquo;lari hisobiga xodimlari hamda dekretiv guruh
              vakillari uchun to&lsquo;g&lsquo;ri ovqatlanish, sog&lsquo;lom
              turmush tarzi va sanitar-gigiyenik ko&lsquo;nikmalarini
              shakllantirish bo&lsquo;yicha seminar-mashg&lsquo;ulotlar
              o&lsquo;tkazish; &ldquo;Salomatlik yo&lsquo;laklari&rdquo;da
              davlat organlari va tashkilotlarining xodimlarini jalb etgan holda
              piyoda va velosipedda yurish bo&lsquo;yicha marafonlar va sport
              musobaqalarini o&lsquo;tkazish; b) 2021-yil 1-oktabrga qadar Jahon
              sog&lsquo;liqni saqlash tashkilotining to&lsquo;g&lsquo;ri
              ovqatlanish va sog&lsquo;lom turmush tarzini yuritish
              bo&lsquo;yicha tavsiyalari asosida yuqumli bo&lsquo;lmagan
              kasalliklarga oid diagnostika (davolash) standartlari va klinik
              protokol (qo&lsquo;llanma)larni qayta tasdiqlasin; v) 2022-yil
              1-yanvarga qadar mahallalar kesimida yuqumli bo&lsquo;lmagan
              kasalliklar bo&lsquo;yicha &ldquo;aholining salomatlik
              profili&rdquo;ni yaratsin va uni o&lsquo;z rasmiy veb-saytida
              e&rsquo;lon qilib borsin. Bunda, aholining ovqatlanish xarakteri,
              tana vazni indeksi, alkogolli ichimlik va tamakiga qaramlilikning
              mavjudligi, arterial bosim, qondagi qand miqdori va xolesterin
              darajasi kabi ko&lsquo;rsatkichlarning qamrab olinishini nazarda
              tutsin.
            </li>
            <li>
              Belgilansinki, oziq-ovqat mahsulotlarini tarkibida tuz, qand va
              yog&lsquo; miqdori inson sog&lsquo;lig&lsquo;i uchun xavfsiz yoki
              zararli ekanligini ko&lsquo;rsatuvchi belgilar bilan
              tamg&lsquo;alash quyidagi tartibda ikki bosqichda joriy
              etiladi:<br />
              a) 2021-yil 1-iyuldan boshlab: oziq-ovqat mahsulotlarini
              tamg&lsquo;alash ixtiyoriy ravishda amalga oshiriladi; xavfsizlik
              belgisi bilan tamg&lsquo;alangan oziq-ovqat mahsulotlarining
              reklamasi imtiyozli tariflar asosida tarqatiladi
              (joylashtiriladi); ta&rsquo;lim, sport va tibbiyot muassasalarida
              xavfsizlik belgisi bilan tamg&lsquo;alanmagan oziq-ovqat
              mahsulotlarini sotishga yo&lsquo;l qo&lsquo;yilmaydi hamda bunday
              mahsulotlarni realizatsiya qilish savdo qoidalarini buzish
              sifatida baholanadi;<br />
              b) 2025-yil 1-yanvardan boshlab respublika hududida realizatsiya
              qilish uchun olib kiriladigan va mahalliy ishlab chiqariladigan
              oziq-ovqat mahsulotlari ularning inson sog&lsquo;lig&lsquo;i uchun
              xavfsiz yoki zararli ekanligini ko&lsquo;rsatuvchi belgilar bilan
              majburiy tartibda tamg&lsquo;alanadi. Bunda, tarkibida tuz, qand
              va yog&lsquo; miqdorini hisobga olgan holda oziq-ovqat
              mahsulotlarining inson sog&lsquo;lig&lsquo;i uchun xavfsiz yoki
              zararli ekanligini belgilash davlat sanitariya nazorati organlari
              tomonidan amalga oshiriladi.
            </li>
            <li>
              Quyidagilar: 2020 &mdash; 2025-yillarda aholida sog&lsquo;lom
              ovqatlanish odatini shakllantirish bo&lsquo;yicha chora-tadbirlar
              dasturi<br />
              1-ilovaga muvofiq; 2020 &mdash; 2025-yillarda aholida
              sog&lsquo;lom ovqatlanish odatini shakllantirish bo&lsquo;yicha
              chora-tadbirlar dasturini amalga oshirish samaradorligini aniqlash
              indikatorlari<br />
              2-ilovaga muvofiq; 2021 &mdash; 2023-yillarda qabul qilinadigan
              oziq-ovqat sanoati sohasidagi xalqaro standartlar
              ro&lsquo;yxati<br />
              3-ilovaga muvofiq; 2021 &mdash; 2023-yillarda qayta ko&lsquo;rib
              chiqiladigan oziq-ovqat xavfsizligiga oid canitariya qoidalari va
              me&rsquo;yorlari ro&lsquo;yxati 4-ilovaga muvofiq; mazkur
              qarorning alohida bandlari ijrosini samarali tashkil etish
              bo&lsquo;yicha harakatlar rejasi 5-ilovaga muvofiq tasdiqlansin.
            </li>
            <li>a</li>
            <li>
              Sog&lsquo;liqni saqlash vazirligi, Axborot va ommaviy
              kommunikatsiyalar agentligi, O&lsquo;zbekiston Milliy
              teleradiokompaniyasi: Iste&rsquo;molchilar huquqlarini himoya
              qilish agentligi va &ldquo;O&lsquo;zstandart&rdquo; agentligi
              bilan birgalikda 2021-yil 1-yanvardan boshlab oziq-ovqat
              mahsulotlarining sifat va xavfsizlik ko&lsquo;rsatkichlari milliy
              standart va me&rsquo;yorlarga muvofiqligini hamda mahsulot
              o&lsquo;ramidagi ma&rsquo;lumotlarning to&lsquo;g&lsquo;riligini
              xolis o&lsquo;rganuvchi &ldquo;Sifat nazorati&rdquo; televizion
              ko&lsquo;rsatuvi namoyish etib borilishini ta&rsquo;minlasin;
              Qishloq xo&lsquo;jaligi vazirligi, Iste&rsquo;molchilar
              huquqlarini himoya qilish agentligi,
              &ldquo;O&lsquo;zstandart&rdquo; agentligi va boshqa manfaatdor
              tashkilotlar bilan hamkorlikda &ldquo;Oziq-ovqat mahsulotlari
              sifat haftaligi&rdquo; tadbirini 2021-yildan boshlab har yili
              noyabr oyida o&lsquo;tkazishni yo&lsquo;lga qo&lsquo;ysin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Prezidentining 2018-yil 29-iyundagi
              &ldquo;O&lsquo;zbekiston Respublikasining tashqi iqtisodiy
              faoliyatini yanada tartibga solish hamda bojxona-tarif jihatdan
              tartibga solish tizimini takomillashtirish chora-tadbirlari
              to&lsquo;g&lsquo;risida&rdquo;gi PQ-3818-son qaroriga 1-ilovaning
              rus tilidagi matni quyidagi mazmundagi &ldquo;2106 90 980 3&rdquo;
              pozitsiya bilan to&lsquo;ldirilsin: &ldquo; 2106909803
              Mikronutriyenti dlya obogoщeniya muki&rdquo;.
            </li>
            <li>
              Sog&lsquo;liqni saqlash vazirligi bir oy muddatda qonun
              hujjatlariga mazkur qarordan kelib chiqadigan o&lsquo;zgartirish
              va qo&lsquo;shimchalar to&lsquo;g&lsquo;risida Vazirlar
              Mahkamasiga takliflar kiritsin.
            </li>
            <li>
              Mazkur qarorning ijrosini samarali tashkil etishga mas&rsquo;ul va
              shaxsiy javobgar etib sog&lsquo;liqni saqlash vaziri A.M.
              Xadjibayev, vazir o&lsquo;rinbosari E.I. Basitxanova,
              Sanitariya-epidemiologik osoyishtalik va jamoat salomatligi
              xizmati boshlig&lsquo;i B.Q. Yusupaliyev va Markaz direktori B.T.
              Odilova belgilansin.
            </li>
          </ol>

          <p>
            Qaror ijrosini har chorakda muhokama qilib borish, ijro uchun
            mas&rsquo;ul idoralar faoliyatini muvofiqlashtirish va nazorat
            qilish O&lsquo;zbekiston Respublikasi Prezidenti maslahatchisining
            birinchi o&lsquo;rinbosari L.N. Tuychiyev zimmasiga yuklansin.
            O&lsquo;zbekiston Respublikasi Prezidenti Sh. MIRZIYOYEV Toshkent
            sh., 2020-yil 10-noyabr, PQ-4887-son
          </p>
        </div>
      </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
