<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= __("laws") %> </title>
  </head>
  <body>
    <%- include('../components/nav.ejs', {page: 'news'}) %>

    <div class="container">
      <div class="hudud">
        <div class="hudud__head pt-5">
          <h1 class="text-uppercase font-weight-bold">
            O‘ZBEKISTON RESPUBLIKASI PREZIDENTINING FARMONI
          </h1>
          <div class="underline mb-3"></div>
        </div>
        <div class="law__content">
          <p style="text-align: center">
            <span style="font-size: 18px"
              ><strong
                >O&lsquo;ZBEKISTON RESPUBLIKASI PREZIDENTINING FARMONI SAVDO VA
                XIZMAT KO&lsquo;RSATISH SOHASIDAGI HISOB-KITOBLAR TIZIMIGA
                ZAMONAVIY AXBOROT TEXNOLOGIYALARINI JORIY QILISHHAMDA USHBU
                SOHADA JAMOATCHILIK NAZORATINI KUCHAYTIRISH CHORA-TADBIRLARI
                TO&lsquo;G&lsquo;RISIDA</strong
              ></span
            >
          </p>

          <p>
            Xususiy sektorni qo&lsquo;llab-quvvatlash bo&lsquo;yicha qabul
            qilingan kompleks chora-tadbirlar natijasida tadbirkorlik
            subyektlari sonini yanada ko&lsquo;paytirish hamda ular tomonidan
            iste&rsquo;molchilarga ko&lsquo;rsatilayotgan xizmatlar turlarini
            kengaytirish uchun zarur shart-sharoitlar yaratilmoqda.
          </p>

          <p>
            Mamlakat iqtisodiyotini uzoq muddatli rivojlantirish borasida keng
            ko&lsquo;lamli islohotlar amalga oshirilayotgan sharoitda axborot
            texnologiyalari vositasida iste&rsquo;molchilar, tadbirkorlik
            subyektlari va davlat soliq xizmati organlarining
            uyg&lsquo;unlashgan faoliyati alohida ahamiyat kasb etadi.
          </p>

          <p>
            Savdo va xizmat ko&lsquo;rsatish sohasini yanada erkinlashtirish,
            uning hajmini keskin oshirish, hisob-kitoblar tizimiga zamonaviy
            axborot texnologiyalarini keng joriy qilish hamda ushbu sohada
            jamoatchilik nazoratini amalga oshirish uchun zarur shart-sharoitlar
            yaratish maqsadida:
          </p>

          <ol class="pl-4">
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi,
              Moliya vazirligi, Markaziy banki, Savdo-sanoat palatasining savdo
              (xizmat ko&lsquo;rsatish) shoxobchalarida aholi bilan naqd pulda
              va (yoki) bank plastik kartalari orqali amalga oshirilgan
              hisob-kitoblar to&lsquo;g&lsquo;risidagi ma&rsquo;lumotlarni
              davlat soliq xizmati organlariga onlayn rejimida uzatib borish
              funksiyasiga ega bo&lsquo;lgan ma&rsquo;lumotlar almashinuvi
              platformasi &mdash; virtual kassalarni (keyingi o&lsquo;rinlarda
              &mdash; virtual kassa) onlayn nazorat kassa mashinalari (keyingi
              o&lsquo;rinlarda &mdash; onlayn-NKM) qatorida joriy etish
              to&lsquo;g&lsquo;risidagi taklifi ma&rsquo;qullansin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi
              huzuridagi &ldquo;Yangi texnologiyalar&rdquo; ilmiy-axborot
              markazi&rdquo; Davlat unitar korxonasi onlayn rejimida qabul
              qilingan fiskal ma&rsquo;lumotlarni mustaqil va doimiy ravishda
              qabul qilish, qayta ishlash, kriptografik himoya qilish va saqlash
              ishlarini bajaruvchi fiskal ma&rsquo;lumotlar operatori (keyingi
              o&lsquo;rinlarda &mdash; operator) etib belgilansin.
            </li>
            <li>
              Shunday tartib o&lsquo;rnatilsinki, unga muvofiq: a) tadbirkorlik
              subyektlari onlayn-NKM yoki virtual kassadan foydalanishga
              o&lsquo;tgan taqdirda: ularga nisbatan amaldagi fiskal xotiraga
              ega bo&lsquo;lgan nazorat-kassa mashinalarini ishlatish,
              kassir-operatsiyachi tomonidan nazorat-kassa daftarini yuritish
              hamda ish kuni oxirida har bir nazorat-kassa mashinasi
              bo&lsquo;yicha kunlik hisobotni chiqarib olish majburiyatlari
              bekor qilinadi; kunlik o&lsquo;rtacha naqd pul tushumi miqdoridan
              qat&rsquo;i nazar naqd pulni bank kassalariga inkassatsiya
              xizmatlari orqali o&lsquo;zlari belgilagan davrlarda yoki mustaqil
              ravishda topshirish huquqiga ega; ularga hisoblangan va
              to&lsquo;lanishi lozim bo&lsquo;lgan foyda solig&lsquo;i yoki
              yagona soliq to&lsquo;lovi yoxud qat&rsquo;iy belgilangan soliq
              summasini onlayn-NKMni 2021-yil 1-yanvarga qadar davlat soliq
              xizmati organlarida ro&lsquo;yxatga qo&lsquo;yish sharti bilan,
              uning har birini xarid qilish, o&lsquo;rnatish va ishga tushirish
              bilan bog&lsquo;liq xarajatlar summasiga, lekin bazaviy hisoblash
              miqdorining 10 baravaridan oshmagan miqdorda kamaytirish huquqi
              beriladi; virtual kassa dasturiy mahsulotining asos qismi (bazasi)
              ularga O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi
              tomonidan bepul beriladi; b) jismoniy shaxslarning bank plastik
              kartalari yoki chegirma (diskont) kartalariga ommaviy oferta
              shartlari asosida o&lsquo;tkazilgan bonuslar (pul, ball va boshqa
              birliklar) shaklidagi mablag&lsquo;lar (cashback) jismoniy
              shaxslardan olinadigan daromad solig&lsquo;i bazasi sifatida
              qaralmaydi; v) jismoniy shaxslarning uy xo&lsquo;jaligi
              sharoitida, shu jumladan dehqon xo&lsquo;jaligida yetishtirilgan
              chorvachilik, asalarichilik va dehqonchilik mahsulotlarini tabiiy
              va qayta ishlangan holda, sanoatda qayta ishlashdan tashqari,
              sotishdan, shuningdek, hayvonlarni tirik yoki ularni so&lsquo;yib
              sotishdan oladigan daromadlari jismoniy shaxslardan olinadigan
              daromad solig&lsquo;idan ozod qilinishida, realizatsiya qilingan
              mahsulot jismoniy shaxs yoki uning oila a&rsquo;zolariga
              ajratilgan tomorqa yer uchastkasida yetishtirilganligini
              tasdiqlovchi hujjatni talab qilish tartibi bekor qilinadi.
            </li>
            <li>
              Naqd pul tushumiga ega bo&lsquo;lgan tadbirkorlik subyektlarining
              onlayn nazorat kassa mashinalari yoki virtual kassadan
              foydalanishga bosqichma-bosqich o&lsquo;tkazish grafigi ilovaga
              muvofiq tasdiqlansin. Belgilansinki, O&lsquo;zbekiston
              Respublikasi Axborot texnologiyalari va kommunikatsiyalarini
              rivojlantirish vazirligi Davlat soliq qo&lsquo;mitasi,
              Qoraqalpog&lsquo;iston Respublikasi Vazirlar Kengashi va
              viloyatlar hokimliklari bilan birgalikda 2020-yil 1-yanvardan
              boshlab har yili olis, yetib borish qiyin bo&lsquo;lgan aholi
              punktlari ro&lsquo;yxatini tasdiqlaydi va ushbu hududlarda
              faoliyat yuritayotgan tadbirkorlik subyektlariga mazkur Farmon
              bilan tasdiqlangan grafik tatbiq etilmaydi.
            </li>
            <li>
              Belgilansinki, onlayn-NKM yoki virtual kassadan foydalanishga
              o&lsquo;tgan tadbirkorlik subyektlari tomonidan: taqdim qilingan
              xarid chekida (keyingi o&lsquo;rinlarda &mdash; chek) tovarlar
              (ishlar, xizmatlar) nomi, miqdori, qiymati (narxi), summasi,
              qo&lsquo;shilgan qiymat solig&lsquo;i to&lsquo;lovchisi
              bo&lsquo;lganda qo&lsquo;shilgan qiymat solig&lsquo;i stavkasi va
              summasi, shuningdek QR-kod va fiskal belgi majburiy tartibda aks
              ettiriladi. Ushbu ma&rsquo;lumotlar aks ettirilmagan cheklar
              haqiqiy hisoblanmaydi; ma&rsquo;lumotlarni operatorga real vaqt
              rejimida yetkazib berishning texnik imkoniyati mavjud
              bo&lsquo;lmagan taqdirda cheklar offlayn rejimida berilishi
              mumkin. Bunda ma&rsquo;lumotlar operatorga 24 soat mobaynida
              uzatilishi shart; to&lsquo;lov terminali orqali qabul qilingan
              to&lsquo;lovlar uchun xaridorlarga to&lsquo;lov terminali cheki
              bilan birga onlayn-NKM yoki virtual kassa cheki ham berilishi
              shart. Ushbu Farmon bilan tasdiqlangan grafikda ko&lsquo;rsatilgan
              muddatlar tugagandan keyin onlayn-NKM yoki virtual kassadan
              foydalanmasdan tovarlarni realizatsiya qilish, ishlarni bajarish
              va xizmatlar ko&lsquo;rsatish, onlayn-NKM yoki virtual kassa
              orqali chek taqdim etmaslik yoki fiskal belgiga ega
              bo&lsquo;lmagan cheklarni taqdim qilish &mdash; fiskal xotirali
              nazorat-kassa mashinalarini yoki hisob-kitob terminallarini
              ishlatish majburiy bo&lsquo;lgani holda ularni ishlatmasdan
              savdoni amalga oshirganlik va xizmatlar ko&lsquo;rsatganlik deb
              baholanadi hamda qonunchilikda belgilangan tartibda javobgarlikka
              tortish uchun asos bo&lsquo;ladi.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi va
              Moliya vazirligining 2019-yil 1-oktabrdan Toshkent shahridagi
              onlayn-NKM yoki virtual kassadan foydalanishga o&lsquo;tgan
              tadbirkorlik subyektlari tomonidan taqdim qilingan cheklardagi
              QR-kod yoki fiskal belgilar asosida yutuqli o&lsquo;yinlarni
              tashkil qilish bo&lsquo;yicha tajriba o&lsquo;tkazish
              to&lsquo;g&lsquo;risidagi taklifiga rozilik berilsin.
              O&lsquo;zbekiston Respublikasi Moliya vazirligi 2019-yil
              1-noyabrga qadar yutuqli o&lsquo;yinlar tashkil etish uchun Davlat
              budjeti mablag&lsquo;lari hisobidan bir milliard so&lsquo;m
              miqdorida mablag&lsquo; ajratsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi Moliya
              vazirligi bilan birgalikda 2020-yil 1-iyulga qadar tajriba
              natijalariga ko&lsquo;ra uni Respublikaning boshqa hududlarida ham
              joriy etish bo&lsquo;yicha Vazirlar Mahkamasiga asoslantirilgan
              taklif kiritsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi
              Kapital bozorini rivojlantirish agentligi bilan birgalikda
              2019-yil 1-oktabrga qadar cheklarni ro&lsquo;yxatdan
              o&lsquo;tkazgan jismoniy shaxslar orasida yutuqli o&lsquo;yinlarni
              o&lsquo;tkazish bo&lsquo;yicha tartib ishlab chiqsin va
              o&lsquo;rnatilgan tartibda tasdiqlasin.
            </li>
            <li>
              &ldquo;O&lsquo;zeltexsanoat&rdquo; uyushmasiga O&lsquo;zbekiston
              Respublikasi Davlat soliq qo&lsquo;mitasi bilan birgalikda:
              uyushma tarkibiga kiruvchi korxonalar negizida onlayn-NKM,
              ma&rsquo;lumotlarni onlayn rejimda davlat soliq xizmati
              organlariga uzatish funksiyasiga ega bo&lsquo;lgan maxsus
              qurilmalar ishlab chiqarishni yo&lsquo;lga qo&lsquo;yish;
              onlayn-NKM va virtual kassaning uzluksiz ishlashini
              ta&rsquo;minlash uchun barcha hududlarda texnik xizmat
              ko&lsquo;rsatish markazlarini tashkil etish tavsiya etilsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi
              2019-yil 1-oktabrga qadar muddatda: tadbirkorlik subyektlari
              tomonidan sotilgan mahsulotlar (ishlar va xizmatlar)
              bo&lsquo;yicha ma&rsquo;lumotlarni davlat soliq xizmati
              organlariga onlayn rejimida uzatishni ta&rsquo;minlovchi virtual
              kassa hamda fiskal modul uchun maxsus dasturiy ta&rsquo;minotni
              ishlab chiqsin va joriy qilsin; xaridorlar tomonidan cheklardagi
              QR-kod yoki fiskal belgilarni mobil ilova yoki Davlat soliq
              qo&lsquo;mitasining rasmiy sayti orqali ro&lsquo;yxatga olish
              tizimini joriy qilsin; O&lsquo;zbekiston Respublikasi hududida
              qo&lsquo;llanilishi ruxsat etilgan onlayn-NKM, virtual kassa va
              fiskal modulga qo&lsquo;yiladigan texnik talablarni, ularning
              yagona reyestrini hamda ularga texnik xizmat ko&lsquo;rsatish
              markazlarining Davlat reyestrini yuritishni, shuningdek, davlat
              soliq xizmati organlarida ro&lsquo;yxatga qo&lsquo;yish tartibini
              ishlab chiqsin va tasdiqlash uchun Vazirlar Mahkamasiga kiritsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi Moliya
              vazirligi hamda manfaatdor vazirlik va idoralar bilan birgalikda
              ikki oy muddatda onlayn-NKM yoki virtual kassa orqali chek taqdim
              etmaslik yoki QR-kodga (yoxud fiskal belgilarga) ega
              bo&lsquo;lmagan cheklarni taqdim qilish harakatlari yuzasidan
              &ldquo;masofadan tekshiruv&rdquo; tizimini hamda javobgarlikka
              tortish tartibini ishlab chiqsin va o&lsquo;rnatilgan tartibda
              tasdiqlasin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi raisi
              B.A. Musayev, Qoraqalpog&lsquo;iston Respublikasi Vazirlar
              Kengashi raisi, viloyatlar va Toshkent shahar hokimlari zimmasiga
              &mdash; ushbu Farmon bilan tasdiqlangan grafikka asosan
              respublikadagi naqd pul tushumiga ega bo&lsquo;lgan tadbirkorlik
              subyektlarini onlayn-NKM yoki virtual kassadan foydalanishga
              bosqichma-bosqich o&lsquo;tkazish; O&lsquo;zbekiston Respublikasi
              Davlat soliq qo&lsquo;mitasi raisi B.A. Musayev, moliya vazirining
              birinchi o&lsquo;rinbosari T.A. Ishmetov, Toshkent shahar hokimi
              J.A. Ortiqxo&lsquo;jayev zimmasiga &mdash; Toshkent shahridagi
              onlayn-NKM yoki virtual kassadan foydalanishga o&lsquo;tgan
              tadbirkorlik subyektlari tomonidan taqdim qilingan cheklardagi
              QR-kod yoki fiskal belgilar asosida yutuqli o&lsquo;yinlarni
              tashkil qilish bo&lsquo;yicha javobgarlik yuklansin.
            </li>
            <li>
              O&lsquo;zbekiston Milliy axborot agentligi, O&lsquo;zbekiston
              Milliy teleradiokompaniyasiga mazkur Farmonning maqsad va
              vazifalari, mazmun-mohiyati va uning amalga oshirish jarayonlarini
              ommaviy axborot vositalarida keng yoritilishini tashkil etish
              tavsiya etilsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Prezidentining 1996-yil
              9-avgustdagi &ldquo;Budjet bilan hisob-kitoblar uchun
              xo&lsquo;jalik yurituvchi subyektlarning mas&rsquo;uliyatini
              oshirish chora-tadbirlari to&lsquo;g&lsquo;risida&rdquo;gi
              PF-1504-son Farmoni 3-bandining beshinchi xatboshisi quyidagi
              tahrirda bayon etilsin: &ldquo;naqd pul tushumiga ega
              bo&lsquo;lgan barcha xo&lsquo;jalik yurituvchi subyektlar naqd pul
              tushumini banklarga topshiradilar. Bunda, bazaviy hisoblash
              miqdorining 20 baravaridan ortiq miqdorda kunlik o&lsquo;rtacha
              naqd pul tushumiga ega bo&lsquo;lgan xo&lsquo;jalik yurituvchi
              subyektlar naqd pul tushumini bank kassalariga har kuni
              inkassatsiya xizmati orqali yoki mustaqil ravishda topshiradilar.
              Ko&lsquo;rsatilgan hajmdan kam bo&lsquo;lgan kunlik o&lsquo;rtacha
              naqd pul tushumiga ega bo&lsquo;lgan yoki onlayn nazorat-kassa
              mashinalaridan (yoxud virtual kassadan) foydalanishga o&lsquo;tgan
              xo&lsquo;jalik yurituvchi subyektlar naqd pul tushumini bank
              kassalariga inkassatsiya xizmatlari orqali o&lsquo;zlari
              belgilaydigan davrlarda yoki mustaqil ravishda topshirish huquqiga
              ega&rdquo;.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Davlat soliq qo&lsquo;mitasi boshqa
              manfaatdor vazirlik va idoralar bilan birgalikda bir oy muddatda
              qonun hujjatlariga ushbu Farmondan kelib chiqadigan
              o&lsquo;zgartish va qo&lsquo;shimchalar to&lsquo;g&lsquo;risida
              Vazirlar Mahkamasiga takliflar kiritsin.
            </li>
            <li>
              O&lsquo;zbekiston Respublikasi Moliya vazirligi O&lsquo;zbekiston
              Respublikasi Soliq kodeksining yangi tahrirdagi loyihasida ushbu
              Farmonda ko&lsquo;rsatib o&lsquo;tilgan normalarni nazarda tutsin.
            </li>
            <li>
              Mazkur Farmonning ijrosini nazorat qilish O&lsquo;zbekiston
              Respublikasining Bosh vaziri A.N. Aripov, O&lsquo;zbekiston
              Respublikasi Prezidentining maslahatchisi R.A. Gulyamov va
              O&lsquo;zbekiston Respublikasi Bosh vaziri o&lsquo;rinbosari
              &mdash; moliya vaziri J.A. Qo&lsquo;chqorov zimmasiga yuklansin.
            </li>
          </ol>

          <p>
            O&lsquo;zbekiston Respublikasi Prezidenti Sh. MIRZIYOYEV Toshkent
            sh., 2019-yil 6-sentabr, PF-5813-son
          </p>
        </div>
      </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
