<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', { page: 'gallery' }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">Galereya</h6>
            </div>
            <div class="row px-3">
              <div class="col-lg-12 my-3">
                <div class="dashboard__card bg-white p-3 rounded mx-n3">
                  <form>
                    <div class="mb-4">
                      <h6 class="title-left-stick mb-3">Rasmlar</h6>
                      <div class="file-loading">
                        <input
                          data-count="200"
                          date-gallery
                          data-images="<%= images.join(",") %>"
                          id="input-gallery-images"
                          name="images"
                          type="file"
                          accept="image/*"
                          multiple
                        />
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
