<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body class="dashboard">
    <div class="dashboard-content-wrapper">
      <%- include('../../sidebar.ejs', {
        page: 'clients'
      }) %>

      <main>
        <%- include('../../header.ejs') %>
        <div class="dashboard-content">
          <div class="container-fluid">
            <div class="dashboard-content__header py-3 border-bottom">
              <h6 class="font-weight-bold text-muted mb-0">Xaridorlar</h6>
              <a href="users/add">
                Yangi qo'shish
                <i class="fas fa-user-plus"></i>
              </a>
            </div>
            <div class="row px-3">
              <div class="col-lg-9 col-md-12 my-3">
                <div class="row">
                  <div class="col-lg-12 dashboard__card">
                    <div class="p-3 shadow-sm">
                      <h5>Xaridorlar</h5>
                      <table class="table table-responsive-md custom-table table-hover table-borderless table-sm">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Xaridor</th>
                            <th scope="col">Jamoa</th>
                            <th scope="col">Paketlar summasi</th>
                            <th scope="col">Ombordagi maqomi</th>
                            <th scope="col">ID</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <img src="/img/slide-2.jpg" class="square-50 rounded-circle object-fit-cover mr-2 overflow-hidden" alt="John Doe">
                              Jhon Doe
                            </td>
                            <td>44</td>
                            <td>2000</td>
                            <td>Admin</td>
                            <th scope="row">UZ100000</th>
                          </tr>
                          <tr>
                            <td>
                              <img src="/img/slide-2.jpg" class="square-50 rounded-circle object-fit-cover mr-2 overflow-hidden" alt="John Doe">
                              Jhon Doe
                            </td>
                            <td>44</td>
                            <td>2000</td>
                            <td>Admin</td>
                            <th scope="row">UZ100000</th>
                          </tr>
                          <tr>
                            <td>
                              <img src="/img/slide-2.jpg" class="square-50 rounded-circle object-fit-cover mr-2 overflow-hidden" alt="John Doe">
                              Jhon Doe
                            </td>
                            <td>44</td>
                            <td>2000</td>
                            <td>Admin</td>
                            <th scope="row">UZ100000</th>
                          </tr>
                          <tr>
                            <td>
                              <img src="/img/slide-2.jpg" class="square-50 rounded-circle object-fit-cover mr-2 overflow-hidden" alt="John Doe">
                              Jhon Doe
                            </td>
                            <td>44</td>
                            <td>2000</td>
                            <td>Admin</td>
                            <th scope="row">UZ100000</th>
                          </tr>
                          <tr>
                            <td>
                              <img src="/img/slide-2.jpg" class="square-50 rounded-circle object-fit-cover mr-2 overflow-hidden" alt="John Doe">
                              Jhon Doe
                            </td>
                            <td>44</td>
                            <td>2000</td>
                            <td>Admin</td>
                            <th scope="row">UZ100000</th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                      </ul>
                    </nav>
                  </div>
                  
                </div>
              </div>
             <%- include('../../components/right-sidebar.ejs') %> 
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="/scripts/backend/index.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>
