<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/favicon1.png" type="image/png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title><%= title %> </title>
  </head>
  <body>
    <%- include('../components/nav.ejs', {page: 'news'}) %>

   <div class="container">
    <div class="news_main_body pt-5">
      <!-- <div class="row">
        
        <div class="col-lg-8 col-md-12 mb-3 mb-lg-0">
          <div class="news_first_sec_carousel h-100">
            <div
              id="yangiliklar_carousel"
              class="carousel slide h-100"
              data-ride="carousel"
            >
              <ul class="carousel-indicators mb-0">
                <li
                  data-target="#yangiliklar_carousel"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#yangiliklar_carousel" data-slide-to="1"></li>
                <li data-target="#yangiliklar_carousel" data-slide-to="2"></li>
              </ul>
  
              <div class="carousel-inner h-100">
                <div class="carousel-item active h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news1.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      "Orzu O'g'rilar" treningini seminar 
                    </a>
                  </div>
                </div>
  
                <div class="carousel-item h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news2.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      Bibisara opa Yusupova bilan suhbat 
                    </a>
                  </div>
                </div>
  
                <di v class="carousel-item h-100">
                  <img
                    class="carousel_pic"
                    src="/img/news3.jpg"
                    alt="Los Angeles"
                  />
                  <div class="carousel-caption">
                    <a href="/news/5">
                      4-6 may kunlari yurtimizning tog' you bag'rlarida kompaniyamizning ilk dam olish seminari bo'lib o'tti. 
                    </a>
                  </div>
                </di>
              </div>
  
              <a
                class="carousel-control-prev"
                href="#yangiliklar_carousel"
                data-slide="prev"
              >
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a
                class="carousel-control-next"
                href="#yangiliklar_carousel"
                data-slide="next"
              >
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-12 d-flex flex-wrap justify-content-center">
          <div class="news_first_sec_pic">
            <img
              class="pic_par"
              src="/img/news4.jpg"
              alt="Los Angeles"
            />
            <a href="/news/5" class="bottom_center">       
                ProgressKey oilasi tog' seminarida 
            </a>
          </div>
  
          <div class="news_first_sec_pic">
            <img
              class="pic_par"
              src="/img/news5.jpg"
              alt="Los Angeles"
            />
            <a href="/news/5" class="bottom_center">
              Surxondaryo liderlari
            </a>
          </div>
        </div>
      </div> -->

      
      <div class="row">
        <%- include('../components/news.ejs', {
          newsList: newsList
        }) %>
      </div>

    </div>
   </div>
    <%- include('../components/footer.ejs') %>

    <script src="/scripts/main.js"></script>
  </body>
</html>
